

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>CONFIGURACION RUTA Y ZONA</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round"  color="dark" slot="end" (click)="salvarConfiguracion()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarModal()" fill="solid" shape="round"  color="primary" slot="end" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Default Searchbar -->

</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-grid fixed>
      <ion-row>


        <ion-col size="6">
          
          <ion-item-divider >
            <ion-label slot="start" class="ion-text-uppercase">
              <ion-badge color="dark"> <h3>Ruta</h3></ion-badge>
              
            </ion-label>
                <!-- Default Searchbar -->
        <ion-searchbar mode="ios" palceholder="Buscar ruta" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
          </ion-item-divider>


       
            <ion-row>
              <ion-col size="12" class="scroll-sm">
                <ion-radio-group allow-empty-selection="true" (ionChange)="rutaRadioButtuon($event)"  [(ngModel)]="rutas.ruta.RUTA">
                  <ng-template ngFor let-item [ngForOf]="rutas.rutas  | filtro : textoBuscar:'DESCRIPCION'" let-i="index" >
                    <ion-item     >
                      <ion-label slot="start"><ion-badge color="dark">Ruta</ion-badge> {{item.RUTA}} </ion-label>
                      <ion-label  slot="start" >{{ item.DESCRIPCION }}</ion-label> 
                   
                        <ion-radio [value]="item.RUTA"    slot="end" ></ion-radio>
                   
                     
                    </ion-item>
                  </ng-template>

                  
                </ion-radio-group>
           
              </ion-col>
            </ion-row>

      



     
        </ion-col>


  
        <ion-col size="6">
          
          <ion-item-divider >
            <ion-label slot="start" class="ion-text-uppercase">
              <ion-badge color="dark"> <h3>Zona</h3></ion-badge>
              
            </ion-label>
            <ion-searchbar mode="ios" palceholder="Buscar ruta" inputmode="text" (ionChange)="onSearchChangeZona($event)" debounce="250" ></ion-searchbar>
          

          </ion-item-divider>
         
            <ion-row>
              <ion-col size="12" class="scroll-sm">
                
        <ion-radio-group allow-empty-selection="true" (ionChange)="zonaRadioButtuon($event)" [(ngModel)]="zonas.zona.ZONA">
        <ion-item class="ion-no-padding" *ngFor="let zona of zonas.zonas  | filtro : textoBuscarZona:'NOMBRE'">
          <ion-label>
            <ion-badge>
              {{zona.ZONA}}
            </ion-badge>
          </ion-label>
          <ion-label >{{zona.NOMBRE}}</ion-label>
          <ion-radio  slot="end" color="success" [value]="zona.ZONA"></ion-radio>
         
          
     

        </ion-item>
      </ion-radio-group>
              </ion-col>
            </ion-row>

         
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
