<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestionar Telefono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="height: 100%;" >
  <ion-row  style="height: 100%;">
    <ion-col size="12">
    

        <form id="form"   #fLogin="ngForm" >
             
          <ion-row>
        
          <ion-col size="12" size-md="4">
              
          <ion-label>Id HH</ion-label>
          <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
            <ion-input readonly="{{editarTelefono ? true : false}}"  maxlength="4" name="idHH"   [(ngModel)]="telefono.idHH"  type="text" placeholder="id HH" required></ion-input>
            </ion-item>
        
        
          </ion-col>
          <ion-col size="12" size-md="4">
              
            <ion-label>Token</ion-label>
            <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
              <ion-input  maxlength="20" name="Token"   [(ngModel)]="telefono.Token"  type="text" placeholder="token" required></ion-input>
              </ion-item>
          
          
            </ion-col>

            <ion-col size="12" size-md="4">
              
              <ion-label>Consec Rec</ion-label>
              <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                <ion-input   maxlength="20" name="Consec_Rec"   [(ngModel)]="telefono.Consec_Rec"  type="text" placeholder="Consec_Rec" required></ion-input>
                </ion-item>
            
            
              </ion-col>
              <ion-col size="12" size-md="4">
              
                <ion-label>Consec Dev</ion-label>
                <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                  <ion-input  maxlength="50" name="Consec_Dev"   [(ngModel)]="telefono.Consec_Dev"  type="text" placeholder="Consec_Dev" required></ion-input>
                  </ion-item>
              
              
                </ion-col>
                <ion-col size="12" size-md="4">
              
                  <ion-label>Cod Zona</ion-label>
                  <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                    <ion-input  maxlength="4" name="COD_ZON"   [(ngModel)]="telefono.COD_ZON"  type="text" placeholder="Cod Zona" required></ion-input>
                    </ion-item>
                
                
                  </ion-col>

                  <ion-col size="12" size-md="4">
              
                    <ion-label>Aplica Rec</ion-label>
                    <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                

                      <ion-label>{{aplicaRec ? 'Si' : 'No'}}</ion-label>
                      <ion-toggle size="small" name="aplicaRec" (ionChange)="aplicaRecToggleOnChange($event)" [(ngModel)]="aplicaRec" ></ion-toggle>


                      </ion-item>
                  
                  
                    </ion-col>

                    <ion-col size="12" size-md="4">
              
                      <ion-label>Aplica Dev</ion-label>
                      <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
       
                        <ion-label>{{aplicaDev ? 'Si' : 'No'}}</ion-label>
                        <ion-toggle size="small" name="aplicaDev" (ionChange)="aplicaDevToggleOnChange($event)" [(ngModel)]="aplicaDev" ></ion-toggle>


                        </ion-item>
                    
                    
                      </ion-col>
                      <ion-col size="12" size-md="8">
              
                              <ion-label>Descripcion</ion-label>
                              <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                                <ion-textarea maxlength="100" name="descripcion"   [(ngModel)]="telefono.Descripcion"  type="text" placeholder="descripcion" required></ion-textarea>
                                </ion-item>
                            
                            
                              </ion-col>
        
        </ion-row>
        
         </form>
    



    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="enviarFormulario()"   expand="block" fill="solid"  color="dark">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
