<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestionar Telefono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="height: 100%;" >
  <ion-row  style="height: 100%;">
    <ion-col size="12">
    

        <form id="form"   #fLogin="ngForm" >
             
          <ion-row>
        
          <ion-col size="12" size-md="4">
            <ion-row>
              <ion-col size="12">
                <ion-label><strong>Id HH</strong></ion-label>
              </ion-col>
                    <ion-col size="12">
                      <ion-input readonly="{{editarTelefono ? true : false}}"  maxlength="4" name="idHH"   [(ngModel)]="telefono.idHH"  type="text" placeholder="hh" required></ion-input>
              </ion-col>
            </ion-row>

      
        
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-row>
              <ion-col size="12">
                <ion-label><strong>Token</strong></ion-label>
              </ion-col>
                    <ion-col size="12">
                      <ion-input  maxlength="20" name="Token"   [(ngModel)]="telefono.Token"  type="text" placeholder="token" required></ion-input>
              </ion-col>
            </ion-row>
          
  
          
            </ion-col>

            <ion-col size="12" size-md="4">
              <ion-row>
                <ion-col size="12">
                  <ion-label><strong>Consec Rec</strong></ion-label>
                </ion-col>
                      <ion-col size="12">
                        <ion-input   maxlength="20" name="Consec_Rec"   [(ngModel)]="telefono.Consec_Rec"  type="text" placeholder="consec rec" required></ion-input>
                </ion-col>
              </ion-row>
           
        
            
              </ion-col>
              <ion-col size="12" size-md="6">
                <ion-row>
                  <ion-col size="12">
                    <ion-label><strong>Consec Dev</strong></ion-label>
                  </ion-col>
                        <ion-col size="12">
                          <ion-input  maxlength="50" name="Consec_Dev"   [(ngModel)]="telefono.Consec_Dev"  type="text" placeholder="consec dev" required></ion-input>
                  </ion-col>
                </ion-row>
          
           
              
                </ion-col>
                <ion-col size="12" size-md="6">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Cod Zona</strong></ion-label>
                    </ion-col>
                          <ion-col size="12">
                            <ion-input  maxlength="4" name="COD_ZON"   [(ngModel)]="telefono.COD_ZON"  type="text" placeholder="cod zona" required></ion-input>
                    </ion-col>
                  </ion-row>
                
               
                
                  </ion-col>

                  <ion-col   size-md="6">
                    <ion-row>
                      <ion-col size="12">
                        <ion-label><strong>Aplica Rec {{aplicaRec ? 'Si' : 'No'}} </strong></ion-label>
                      </ion-col>
                            <ion-col size="12">
                              <ion-toggle size="small" name="aplicaRec" (ionChange)="aplicaRecToggleOnChange($event)" [(ngModel)]="aplicaRec" ></ion-toggle>
                      </ion-col>
                    </ion-row>
                 
            
                  
                  
                    </ion-col>

                    <ion-col   size-md="6">
                      <ion-row>
                        <ion-col size="12">
                          <ion-label>Aplica Dev {{aplicaDev ? 'Si' : 'No'}}</ion-label>
                        </ion-col>
                              <ion-col size="12">
                                <ion-toggle size="small" name="aplicaDev" (ionChange)="aplicaDevToggleOnChange($event)" [(ngModel)]="aplicaDev" ></ion-toggle>
                        </ion-col>
                      </ion-row>
                    
                  
                    
                    
                      </ion-col>
                      <ion-col size="12">
                        <ion-row>
                          <ion-col size="12">
                            <ion-label><strong>Descripción</strong></ion-label>
                          </ion-col>
                                <ion-col size="12">
            <ion-input class="description"   name="descripcion"  [(ngModel)]="telefono.Descripcion"  type="text" placeholder="descripcion" required></ion-input>
                          </ion-col>
                        </ion-row>
                   
                           
                            
                              </ion-col>
        
        </ion-row>
        
         </form>
    



    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="enviarFormulario()"   expand="block" fill="solid"  color="dark">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
