<ion-toolbar>
  <ion-title  style="font-size: 1.2rem;letter-spacing: 0.5rem; text-transform: uppercase;">Ingresar Fecha Factura</ion-title>
</ion-toolbar>

  <ion-datetime presentation="date" mode="ios" required  #dateTime [value]="dateValue" size="cover" (ionChange)="dateChanged($event)"  >
  </ion-datetime>

<ion-item>
  <ion-buttons slot="end">
    <ion-button (click)="submit()"  color="dark"
    shape="round"     
    fill="outline">Guardar</ion-button>
    <ion-button (click)="cerrarModal()"  color="dark"
    shape="round"     
    fill="outline">Cancelar</ion-button>
  </ion-buttons>
</ion-item>



