
<ion-header class="ion-no-border ion-padding">

  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
  <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Lista de Clientes        <ion-badge color="dark" mode="ios">{{count}}</ion-badge></ion-title>

    <ion-select slot="end" (ionChange)="mapboxService.renderizarMapa()" [(ngModel)]="mapboxService.featuresIndex"   placeholder="Cargar Pines">
      <ion-select-option *ngFor="let item of mapboxService.marcadores; let i = index;" [value]="i"> 

    {{i == 0 ? i : mapboxService.size * i + 1 }} -   {{ i == 0  ?  item.length :  mapboxService.size * i + item.length }}
    

      </ion-select-option>
      
    </ion-select>

  </ion-toolbar>
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-segment *ngIf="default !='duplicate'" style="margin: 10px;" [value]="selectedType" (ionChange)="segmentChanged($event)"  scrollable mode="md">
        <ion-segment-button *ngFor="let tipo of tipos" [value]="tipo.value">
          <ion-label style="font-weight: 500;"class="ion-text-capitalize">
            
            {{tipo.display}}
  
          
          </ion-label>
  
        </ion-segment-button>
        
      </ion-segment>
    
    

    </ion-col>
    <ion-col size="12">
      <ion-searchbar mode="ios" placeholder="Buscar cliente" inputmode="text" (ionChange)="onSearchChange($event)"   debounce="250" ></ion-searchbar>
      
    </ion-col>
  </ion-row>
</ion-grid>


</ion-header>
<ion-toolbar>
<ion-title>ID - Nombre Cliente</ion-title>
    </ion-toolbar>
<ion-content  >

  <ion-grid style="margin-top: 2rem;">
    <ion-row *ngFor="let item of mapboxService.marcadores[this.mapboxService.featuresIndex]  | filtro : textoBuscar:toggleValue">
      <ion-col size="12" size-md="12">
<ion-item (click)="onOpenMenu(item)">
  <ion-label>

     {{item.title}} <ion-badge color="dark" mode="ios">{{item.id}}</ion-badge>

    

   </ion-label>
   <ion-badge color="dark" mode="ios"> {{item.properties.nuevo ? 'Nuevo' : 'Existente' }}</ion-badge>   <ion-icon name="chevron-forward-outline" class="ion-margin"></ion-icon>  <ion-badge color="dark" mode="ios">{{item.properties.modificado ? 'Modificado' : 'Sin Modificar'}}</ion-badge>
   <ion-icon name="chevron-forward-outline" class="ion-margin"></ion-icon>  <ion-badge color="dark" mode="ios">{{item.properties.excluido ? 'No En Ruta' : 'En Ruta'}}</ion-badge>
</ion-item>
  
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-list>
    

  </ion-list>
  
</ion-content>