 

<ion-header class="ion-no-border">
  <app-encabezado  ></app-encabezado>
  <ion-toolbar>

    <ion-grid >
      <ion-row>
        <ion-col size="12" size-md="6" style="display: flex;justify-content: center;align-items: center;">
          <ion-title class="ion-text-capitalize" class="title">
            <strong>Gestion Rutas  {{planificacionRutasService.rutaZona ?  planificacionRutasService.rutaZona.DESCRIPCION : ''}}  </strong>
          </ion-title>
        </ion-col>
   
        <ion-col size="12" size-md="6" style="display: flex;justify-content: flex-end;align-items: center;">
          <ion-item class="ion-hide-md-down" *ngIf="mapboxService.marcadores.length > 0">
       
            <ion-select name="carga" (ionChange)="renderizarMapa($event)" [(ngModel)]="mapboxService.featuresIndex"   placeholder="Cargar Pines">
              <ion-select-option *ngFor="let item of mapboxService.opciones; let i = index;" [value]="i"> 

            {{i == 0 ? mapboxService.marcadores[0].length > 500 ? '' : i + ' - ' : mapboxService.size * i + 1  + ' - '}}  {{ i == 0  ?  mapboxService.marcadores[0].length > 500 ?  'Segregar': item.length :  mapboxService.size * i + item.length }}
            

              </ion-select-option>
              <ion-select-option   value="0">Todos</ion-select-option>
              
               
            </ion-select>
          </ion-item>
          <ion-fab-button   color="dark" 
          class="ion-margin-right" size="small"  (click)="configuracionZonaRuta()">
          <ion-icon class="spin-element"  name="settings"></ion-icon>
        </ion-fab-button>
      
      
        <span  *ngIf="mapboxService.marcadores.length > 0"   style="position:relative"   >
          <ion-fab-button   color="dark"   
          class="ion-margin-right" size="small"    (click)="informacionMarcadores('title')">
          <ion-icon name="location"></ion-icon>
        </ion-fab-button>
        <ion-badge style="position: absolute;top:-0.5rem;right:-0.7rem;" color="primary" mode="ios"> {{mapboxService.totalMarcadores}} </ion-badge>
        
        
        </span>
      
      
        <span *ngIf="mapboxService.marcadores.length > 0"   style="position:relative"  >
          <ion-fab-button   color="dark"   
          class="ion-margin-right" size="small"    (click)="moverMarcadores()">
          <ion-icon   name="locate-outline"></ion-icon>
        </ion-fab-button>
        <ion-badge style="position: absolute;top:-0.5rem;right:-0.5rem;" color="primary" mode="ios">{{mapboxService.modo}} </ion-badge>
        
        
        </span>
      
      
      
        
        <ion-fab-button   color="dark" 
        class="ion-margin-right" size="small" (click)="menuCliente()" *ngIf="planificacionRutasService.rutaZona" >
        <ion-icon  name="person-add"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button   *ngIf="mapboxService.marcadores.length > 0"   color="dark"   size="small" (click)="limpiarDatos()"  >  
      <ion-icon  name="trash-outline"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button  *ngIf="mapboxService.marcadores.length > 0"  color="dark" 
      class="ion-margin-right" size="small"    (click)="postRutas()">
      <ion-icon  name="save"></ion-icon>
      </ion-fab-button>


    <span style="position: relative;margin-right: 1rem;">
      <ion-fab-button    color="dark" (click)="clientesSinUbicacion()"
      class="ion-margin-right" size="small">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-fab-button>
      <ion-badge style="position: absolute;top: 0;right: -1rem;" color="primary" mode="ios">{{pendientes.length}}</ion-badge>
    </span>
        </ion-col>
   
      </ion-row>
    </ion-grid>
   </ion-toolbar>
 
</ion-header>

<ion-content>

<ion-grid  style="height: 100%;">
<ion-row    style="height: 100%;">

      
<ion-col size="12">

<div  id="mapa" #mapa  [ngStyle]="{
  'height': '100%',
  'width': '100%'
}" class="mapa"></div>

</ion-col>


           


</ion-row>
</ion-grid>

</ion-content>
<app-pie-pagina  ></app-pie-pagina>