
  <ion-toolbar>
    <ion-title>{{detalleCliente.NOMBRE}}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="cerrarModal()" fill="solid" color="danger"  id="circle" >
        <ion-icon  name="close"></ion-icon>
      </ion-button>
      </ion-buttons>

  </ion-toolbar>
<ion-content >


    
    <ion-grid style="height: 100%;" >
      <ion-row style="height: 100%;">

      <ion-col size="12" size-md="6"   style="height: 100%;" >
<ion-list>
  <ion-item>
    <ion-label>
      <h2>{{detalleCliente.NOMBRE}}</h2>
      <p>ID-CLIENTE : {{detalleCliente.IdCliente}}   CANAL : {{detalleCliente.CANAL}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2 class="ion-text-uppercase">RUTA : {{detalleCliente.RUTA }}</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-uppercase"><h2>ZONA : {{detalleCliente.ZONA}}</h2></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-uppercase"><h2>PROVINCIA : {{detalleCliente.PROVINCIA}}</h2></ion-label>
  </ion-item>
  <ion-item class="ion-text-uppercase">
    <ion-label><h2>CANTON : {{detalleCliente.CANTON}}</h2></ion-label>
  </ion-item>
  <ion-item class="ion-text-uppercase">
    <ion-label><h2>DISTRITO : {{detalleCliente.DISTRITO}}</h2></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-uppercase"><h2>DIRECCIÓN</h2>
    <p class="ion-text-wrap">{{detalleCliente.direccion}}</p>
    </ion-label>
  </ion-item>
  <ion-item class="ion-text-uppercase">
    <ion-label><h2>LATITUD : {{detalleCliente.LATITUD}}</h2></ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-uppercase"><h2>LONGITUD : {{detalleCliente.LONGITUD}}</h2></ion-label>
  </ion-item>
</ion-list>
      </ion-col>
      <ion-col size="12" size-md="6"  style="height: 100%;">

        <app-mini-mapa  [height]="'100%'" [width]="'100%'"  [interactive]="true" [lngLat]="[detalleCliente.LONGITUD,detalleCliente.LATITUD]"></app-mini-mapa>
 

      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>
