
<ion-list lines="none">
  <ion-list-header>
    <ion-label  color="primary" class="ion-text-center">Lista de Guias en Ruta</ion-label>
  
  </ion-list-header>
    <ion-item>
      <ion-searchbar mode="ios" placeholder="Buscar guia" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
    </ion-item>
    <ion-radio-group allow-empty-selection="true"  >
  
      <ion-item (click)="submit(item.idGuia)" *ngFor="let item of guiasService.guiasArrayRuta | filtro : textoBuscar:'idGuia'" detail>
   
  
        <ion-label>   
          <h2>{{ item.idGuia }}</h2>
          <p>
        
            Clientes : {{item.numClientes}}
            
          </p>
        </ion-label>
       <ion-radio [value]="item.idGuia"    slot="end" ></ion-radio>
            
    
      </ion-item>
    </ion-radio-group>
  
  
    
  </ion-list>