.header-row{

    font-weight: 500;
    border-bottom: 2px solid black;
  }
  .data-row{
    border-bottom: 1px solid black;
  }.fixed-content-facturas {        //comments showing what I replaced.
    overflow: auto;
    height: 60vh;
  }