.fixed-content {        //comments showing what I replaced.
    overflow: auto;
    height: 40vh;
  }
  .border-bottom{
    padding: 10px;
    border-bottom: 1px solid black;
  }
  .center-text{
    display: flex;justify-content: center;align-items: center;
  }