<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" (click)="cerrarModal()" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{cliente.nombre}}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>



  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" size-md="12" style="height: 50%;">

        <app-mini-mapa [height]="'100%'" [width]="'100%'" [interactive]="true"
          [lngLat]="[cliente.longitud,cliente.latitud]"></app-mini-mapa>


      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label slot="end"><strong>Agregar Todas Las Facturas</strong></ion-label>
          <ion-toggle checked="{{todas}}" slot="end" (ionChange)="todasLasFacturas($event)"></ion-toggle>
          
        </ion-item>

      </ion-col>
      <ion-col size="12" size-md="12">
        <ion-list>


          <ion-item lines="none">
            <ion-grid>
              <ion-row>


                <ion-col size="12">
                  <ion-item lines="none">
                    <ion-grid>
                      <ion-row class="header-row">
                        <ion-col size="6" class="ion-text-wrap">



                          Facturas
                          <ion-badge color="primary" mode="ios">{{cliente.facturas.length}}</ion-badge>
                          <span style="margin-left: 0.5rem;">

                            <ion-icon style="font-size: 1.4rem;" color="warning" name="sunny-outline"></ion-icon>
                            {{cliente.totalSeco}}

                            <ion-icon style="font-size: 1.4rem;" color="primary" name="snow-outline"></ion-icon>
                            {{cliente.totalFrio}}
                          </span>


                        </ion-col>


                        <ion-col size="3" class="ion-text-wrap">Bultos <ion-badge color="primary"
                            mode="ios">{{cliente.totalBultos}}</ion-badge> </ion-col>
                        <ion-col size="3" class="ion-text-wrap">Peso <ion-badge color="primary"
                            mode="ios">{{cliente.totalPeso}}</ion-badge></ion-col>


                      </ion-row>

                    </ion-grid>
                  </ion-item>



                </ion-col>

                <ion-col class="fixed-content" size="12">
                  <ion-item *ngFor="let factura of cliente.facturas">

                    <ion-icon slot="start" size="large" color="{{factura.FRIO_SECO == 'F' ? 'primary' : 'warning'  }}"
                      name="{{factura.FRIO_SECO == 'F' ? 'snow-outline' : 'sunny-outline'  }}"></ion-icon>


                    <ion-grid>
                      <ion-row class="data-row">

                        <ion-col size="5" class="center-text">
                          <ion-label class="ion-text-wrap">{{factura.FACTURA}}</ion-label>

                        </ion-col>

                        <ion-col size="3" class="center-text">
                          <ion-label class="ion-text-wrap">{{factura.RUBRO1 | number }}</ion-label>
                        </ion-col>
                        <ion-col size="3" class="center-text">
                          <ion-label class="ion-text-wrap">{{factura.TOTAL_PESO_NETO | number }}</ion-label>
                        </ion-col>
                        <ion-col size="1">
                          <ion-checkbox (ionChange)="agregarFactura(factura,$event)" checked="{{factura.SELECCIONADO == true ? true : false}}"></ion-checkbox>
                        </ion-col>
                      </ion-row>



                    </ion-grid>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>




        </ion-list>

      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>