<ion-header class="ion-no-border">
  <ion-toolbar>
  

    <ion-title class="title">
      
      <ion-label>Gestion de volument - peso camiones </ion-label> 
</ion-title>
    <ion-buttons  slot="end">
      <ion-button (click)="cerrarModal()" fill="solid" color="danger" shape="round">
        <ion-icon  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
 

      <ion-item  *ngFor="let camion of camionesService.camiones" (click)="actualizar(camion.idCamion)" detail>
        <ion-label>
          <h2>Placa : {{camion.idCamion}}  {{camion.descripcion}}
          </h2>
          <p>Chofer : {{camion.chofer}}</p>
          <p>Capacidad Volumen: {{camion.capacidadVolumen}}</p>
          <p>Capacidad Peso : {{camion.capacidadPeso}}</p>
  
        </ion-label>
            
      </ion-item>
  

    

    
  </ion-list>

</ion-content>
