<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
  <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Reporte Guias
    <ion-badge>{{guiasArrayRuta.length}}</ion-badge></ion-title>
   
        <ion-button  (click)="limpiarDatos()"  slot="end"   expand="block" fill="clear" shape="round">
          <ion-icon color="dark" size="large" name="refresh"></ion-icon>
            </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid >
      <ion-row>
 <ion-col size="6">
<ion-row>
  <ion-col size="6">
    <ion-row>
      <ion-col size="12">
        <ion-button  size="small"  id="auto-trigger" color="dark" shape="round">
          <ion-icon slot="start" name="calendar"></ion-icon>
          Fecha Inicio</ion-button>
  
          <ion-popover    mode="ios" trigger="auto-trigger" >
            <ng-template>
              <ion-content    class="ion-padding">
          
                <ion-datetime (ionChange)="cerrarFechaModal()" [(ngModel)]="fechaInicio"  presentation="date"  id="datetime"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
  
  
      </ion-col>
      <ion-col size="12">
  <ion-label>     {{fechaInicio | date}}</ion-label>
      </ion-col>
    </ion-row>

  </ion-col>

  <ion-col size="6">
    <ion-row>
      <ion-row>
        <ion-col size="12">
    
          <ion-button  size="small" id="auto-trigger2"  color="dark" shape="round">
            <ion-icon slot="start" name="calendar"></ion-icon>
            Fecha  Fin</ion-button>
          <ion-popover    mode="ios" trigger="auto-trigger2" >
            <ng-template>
              <ion-content    class="ion-padding">
          
                <ion-datetime (ionChange)="cerrarFechaModal()" [(ngModel)]="fechaFin"    presentation="date"  id="datetime2"></ion-datetime>
             
             
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
    
        <ion-col size="12">
          <ion-label>{{fechaFin | date}}</ion-label>
        </ion-col>
    
 
      </ion-row>
    </ion-row>
  </ion-col>

  <ion-col size="12"  *ngIf="guiasArrayRuta.length > 0">
    <ion-searchbar    mode="ios" placeholder="Buscar guia" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
    
  </ion-col>
</ion-row>



 </ion-col>
        <ion-col size="6"  >
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select [(ngModel)]="estado"   placeholder="Seleccionar Estado" mode="ios" (ionChange)="seleccionarEstado($event)">
            <ion-select-option value="INI">Inicio</ion-select-option>
            <ion-select-option value="SYNC">Sincronizada</ion-select-option>
            <ion-select-option value="RUTA">Ruta</ion-select-option>
            <ion-select-option value="FIN">Liquidada</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
<ion-searchbar [(ngModel)]="idGuia" placeholder="Número Guia"  type="text"   [debounce]="250" mode="ios"></ion-searchbar>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="consultarGuias()" size="small"   expand="block" color="dark">
          <ion-icon slot="start"  name="search"></ion-icon>
         <ion-label>Consultar</ion-label>
           </ion-button>
      </ion-col>
    </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
 

</ion-header>
<ion-content>

  <ion-list>
    <ion-item *ngIf="guiasArrayRuta.length == 0">
      <ion-icon slot="start" size="large" color="danger" name="alert-circle-outline"></ion-icon>
      <ion-label slot="start"><strong>No hay datos que mostrar...</strong></ion-label>
    </ion-item>
  
     <ion-grid >
      <ion-row *ngFor="let guia of  guiasArrayRuta  | filtro : textoBuscar:'idGuia'" style="border-bottom: 1px solid black;">
        <ion-col size="6" style="display: flex;justify-content: flex-start;align-items: center;">
          <ion-label>{{guia.idGuia}}</ion-label>
      
        </ion-col>
        <ion-col size="3" style="display: flex;justify-content: flex-start;align-items: center;">
          <ion-label>{{guia.estado}}</ion-label>
        </ion-col>
        <ion-col size="3"  style="display: flex;justify-content: flex-start;align-items: center;">
          <ion-button *ngIf="guia.estado == 'SYNC' || guia.estado == 'RUTA'" (click)="cambiarEstado(guia)" size="large"     fill="clear">
            <ion-icon   size="large" name="create-outline"></ion-icon>
          </ion-button>
    
          <ion-button (click)="retornarFacturas(guia)" size="large"     fill="clear"  >
            <ion-icon   size="large" name="print-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
     </ion-grid>
  
  </ion-list>
</ion-content>
