





<ion-list lines="none" >

  <ion-header class="ion-no-border">
    <ion-toolbar >
      <ion-title><ion-badge color="dark" mode="ios">Clientes</ion-badge></ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()" >
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>


    <ion-item   *ngFor="let item of marcadores; let i = index">
      <ion-label slot="start">{{item.id}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="detalleClientes(item.cliente)" >
          <ion-icon  name="eye"></ion-icon>
         
        </ion-button>
        <ion-button (click)="irMarcador( item.marker! )">
          <ion-icon name="location" [ngStyle]="{
            'color': item.color
        }"></ion-icon>
  
        </ion-button>
      </ion-buttons>
    </ion-item>
 


</ion-list>

<div #mapa class="mapa-container"></div>

