
<ion-header class="ion-no-border ion-padding">
  <span style="display: flex; justify-content: space-between; align-items: center;">
    
    <ion-title class="ion-text-uppercase" >Lista de Clientes</ion-title>
    <ion-segment style="margin: 10px;" [value]="selectedType" (ionChange)="segmentChanged($event)"  scrollable mode="md">
      <ion-segment-button *ngFor="let tipo of tipos" [value]="tipo.value">
        <ion-label style="font-weight: 500;"class="ion-text-capitalize">{{tipo.display}}</ion-label>
      </ion-segment-button>
      
    </ion-segment>
  
    <ion-searchbar mode="ios" placeholder="Buscar cliente" inputmode="text" (ionChange)="onSearchChange($event)" style="width: 350px" debounce="250" ></ion-searchbar>
    <ion-buttons >
      <ion-button (click)="cerrarModal()" fill="solid" color="danger"  id="circle" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>


  </span>


</ion-header>
<ion-toolbar>
<ion-title>ID - Nombre Cliente</ion-title>
    </ion-toolbar>
<ion-content  >

  <ion-grid style="margin-top: 2rem;">
    <ion-row *ngFor="let item of marcadores  | filtro : textoBuscar:toggleValue">
      <ion-col size="12" size-md="8">
<ion-item>
  <ion-label>

     {{item.title}}

    

   </ion-label>
   <ion-badge color="dark" mode="ios"> {{item.new ? 'Nuevo' : 'Existente' }}</ion-badge>   <ion-icon name="chevron-forward-outline" class="ion-margin"></ion-icon>  <ion-badge color="dark" mode="ios">{{item.modify ? 'Modificado' : 'Sin Modificar'}}</ion-badge>
</ion-item>
  
      </ion-col>
      <ion-col  size="12" size-md="4" style="display: flex;justify-content: start;">
        <ion-button class="tooltip-btn"  data-tooltip="Motrar detalle cliente"  fill="clear" (click)="detalleClientes(item.client)">
          <ion-icon color="success" slot="icon-only" name="person-outline"></ion-icon>
        
        </ion-button>
        <ion-button  *ngIf="!item.exclude" class="tooltip-btn"  (click)="irMarcador(item.client)" data-tooltip="Redirigir al mapa" fill="clear">
          <ion-icon slot="icon-only" name="location" [ngStyle]="{
            'color': item.color
        }"></ion-icon>



        </ion-button>

        <ion-button *ngIf="item.exclude" class="tooltip-btn" (click)="irMarcador(item.client)"  data-tooltip="Incluir en la ruta actual"  fill="clear">
          <ion-icon color="dark" slot="icon-only" name="add-outline"></ion-icon>
        
        </ion-button>

        <ion-button class="tooltip-btn" (click)="irMarcador(item.client)"  fill="clear"  data-tooltip="Exluir de la ruta">
          <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
        
        </ion-button>
        <ion-button class="tooltip-btn" (click)="irMarcador(item.client)"   fill="clear"  data-tooltip="Mover a otra ruta">
          <ion-icon color="primary" slot="icon-only" name="create-outline"></ion-icon>
        
        </ion-button>
       

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    

  </ion-list>
  
</ion-content>