
<ion-header class="ion-no-border ion-padding">
  <span style="display: flex; justify-content: space-between; align-items: center;">
    
    <ion-title class="ion-text-uppercase" >Lista de Clientes 

      <ion-badge  color="dark" mode="ios"  >{{count}}</ion-badge>

    </ion-title>
    <ion-segment *ngIf="default !='duplicate'" style="margin: 10px;" [value]="selectedType" (ionChange)="segmentChanged($event)"  scrollable mode="md">
      <ion-segment-button *ngFor="let tipo of tipos" [value]="tipo.value">
        <ion-label style="font-weight: 500;"class="ion-text-capitalize">
          
          {{tipo.display}}

        
        </ion-label>

      </ion-segment-button>
      
    </ion-segment>
  
    <ion-searchbar mode="ios" placeholder="Buscar cliente" inputmode="text" (ionChange)="onSearchChange($event)" style="width: 350px" debounce="250" ></ion-searchbar>
    <ion-buttons >
      <ion-button (click)="cerrarModal()" fill="solid" color="danger"  id="circle" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>


  </span>


</ion-header>
<ion-toolbar>
<ion-title>ID - Nombre Cliente</ion-title>
    </ion-toolbar>
<ion-content  >

  <ion-grid style="margin-top: 2rem;">
    <ion-row *ngFor="let item of planificacionRutasService.marcadores  | filtro : textoBuscar:toggleValue">
      <ion-col size="12" size-md="12">
<ion-item (click)="onOpenMenu(item)">
  <ion-label>

     {{item.title}}

    

   </ion-label>
   <ion-badge color="dark" mode="ios"> {{item.new ? 'Nuevo' : 'Existente' }}</ion-badge>   <ion-icon name="chevron-forward-outline" class="ion-margin"></ion-icon>  <ion-badge color="dark" mode="ios">{{item.modify ? 'Modificado' : 'Sin Modificar'}}</ion-badge>
   <ion-icon name="chevron-forward-outline" class="ion-margin"></ion-icon>  <ion-badge color="dark" mode="ios">{{item.exclude ? 'No En Ruta' : 'En Ruta'}}</ion-badge>
</ion-item>
  
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-list>
    

  </ion-list>
  
</ion-content>