<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title style="color: white;">Distribuidora ISLEÑA</ion-title>
        <ion-label slot="end" color="light" class="medium-font ">{{fecha}}</ion-label>
<ion-buttons slot="end" >
  <ion-button   (click)="home()" fill="solid" shape="round" color="dark" size="small">
    <ion-icon name="home-outline"></ion-icon>
      </ion-button>
  <ion-button   (click)="logOut()" fill="solid" shape="round" color="danger" size="small">
    <ion-label slot="start">Salir</ion-label>
    <ion-icon name="close" slot="end"> </ion-icon>
  </ion-button>
</ion-buttons>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>


</ion-header>