<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title style="color: white;">Distribuidora ISLEÑA</ion-title>
        <ion-label slot="end" color="light" class="medium-font ">{{configuracion.fecha}}</ion-label>
<ion-buttons slot="end" *ngIf="login.verified">
  <ion-button (click)="logOut()" fill="solid" shape="round" color="primary" size="small">
Salir
  </ion-button>
</ion-buttons>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>


</ion-header>