<ion-header class="ion-no-border" traslucent>
 
    <ion-toolbar>
  

      <ion-title class="title">
        
        <ion-label>Gestion de Ruta </ion-label> 
        <ion-label>{{rutas.ruta.DESCRIPCION | rutas }} <ion-badge>{{rutas.ruta.RUTA}}</ion-badge></ion-label></ion-title>
      <ion-buttons  slot="end">
        <ion-button (click)="cerrarModal()" fill="solid" color="danger" shape="round">
          <ion-icon  name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>

    <ion-list lines="none">
      <ion-grid >
        <ion-row>
          <ion-col size="12" style="display: flex;justify-content: space-around;">
            <ion-label>Buscar Cliente        <ion-checkbox [(ngModel)]="busqueda"></ion-checkbox></ion-label>
 
      
            <ion-searchbar mode="ios" placeholder="Buscar cliente" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
            <ion-buttons >
              <ion-button (click)="onSearchChange2()" color="dark" shape="round" fill="outline">
              
               Buscar
              </ion-button>
            </ion-buttons>
              </ion-col>
    
          <ion-col size="12">
            <ion-row>
              <ion-col size="3">
                <ion-select placeholder="provincia" (ionChange)="onChange($event, true,false,false)" [(ngModel)]="filtroClientes.Cod_Provincia">
                  <ng-template ngFor let-provincia [ngForOf]="provincias.provincias" let-i="index" >
                  <ion-select-option value="{{provincia.Cod_Provincia}}" >{{provincia.Provincia}}</ion-select-option>
                  </ng-template>
                  
                  
                  
                  </ion-select>
              </ion-col>
     
              <ion-col size="3">
                <ion-select placeholder="cantón" (ionChange)="onChange($event, false,true,false)"  [(ngModel)]="filtroClientes.Cod_Canton">
          
                  <ng-template ngFor let-canton [ngForOf]="cantones.cantones" let-i="index" >
                    <ion-select-option value="{{canton.Cod_Canton}}" >{{canton.Canton}}</ion-select-option>
                  </ng-template>
            
            
                  
                </ion-select>
              </ion-col>
              
              <ion-col size="3">
                <ion-select placeholder="distrito" (ionChange)="onChange($event, false,false,true)" [(ngModel)]="filtroClientes.Cod_Distrito">
          
          
                  <ng-template ngFor let-distrito [ngForOf]="distritos.distritos" let-i="index" >
                  <ion-select-option value="{{distrito.Cod_Distrito}}" >{{distrito.Distrito}}</ion-select-option>
                  </ng-template>
                  
                  </ion-select>
              </ion-col>
              <ion-col size="3">
                <ion-item>
                  <ion-buttons slot="end">
                    <ion-button  size="small" (click)="onSubmit()" shape="round" fill="solid" color="primary">
                      <ion-icon name="funnel"></ion-icon>
                    
                    </ion-button>
                    <ion-button  size="small" (click)="borrarFiltro()" shape="round" fill="solid" color="danger">
                      <ion-icon  name="trash"></ion-icon>
              
                     </ion-button>
                  </ion-buttons>
                 </ion-item>
              </ion-col>
          
            </ion-row>
    
          </ion-col>
    
    
    
         
    
          <ion-col size="12"  >
         
              <ion-item >
    
        
    
    <ion-buttons slot="start">
    <ion-label >Clientes</ion-label>
    <ion-button   fill="solid" color="warning">
      <ion-label>{{clientesService?.clientesArray?.length}}</ion-label> 
     </ion-button>
    </ion-buttons>
    <ion-label slot="end" >Trade</ion-label>
    <ion-toggle color="dark" slot="end" name="filtro" (ionChange)="myChange($event)" value="myvalue"></ion-toggle>
    <ion-label slot="end" >{{myvalue}}</ion-label>
    
                <ion-checkbox (click)="checkAll($event)"  name="clientes" [(ngModel)]="clientesService.isChecked"   slot="end"></ion-checkbox>
                <ion-label slot="end">Todos</ion-label>
                <ion-buttons slot="end">
    
                   <ion-button   slot="end"  (click)="agregarCliente()" shape="round" fill="solid" color="secondary">
                    <ion-icon  name="add"></ion-icon>
                  </ion-button>
                </ion-buttons>
            
              </ion-item>
    
       
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

</ion-header>

<ion-content class="ion-no-padding">
<ion-list lines="none">
  <ion-grid >
    <ion-row>
      
      <ion-col size="12" >

          <ion-item *ngFor="let cliente of clientesService.clientesArray | filtro: textoBuscar:'NOMBRE'| filtro: myvalue:'TRADE_CLIENTE';  let i = index;">
            
            <ion-label>{{cliente.cliente.NOMBRE}}</ion-label>
            <ion-buttons slot="end">
              <ion-button   shape="round" fill="solid" color="warning" *ngIf="!cliente.cliente.LATITUD || !cliente.cliente.LONGITUD">
                <ion-icon  name="close"></ion-icon>
              </ion-button>

              <ion-button  shape="round" fill="solid" color="warning" *ngIf="cliente.cliente.LATITUD  && cliente.cliente.LONGITUD">
                <ion-icon  name="navigate"></ion-icon>
              </ion-button>
              <ion-button slot="end"  shape="round" fill="solid" color="primary" (click)="detalleClientes(cliente.cliente)">
                <ion-icon  name="eye"></ion-icon>
              </ion-button>
      

    <ion-button >
      <ion-checkbox name="cliente.IdCliente"  [(ngModel)]="cliente.select" slot="end" ></ion-checkbox>
    </ion-button>

            </ion-buttons>
            
           
          </ion-item>
          <ion-item *ngIf="clientesService?.clientesArray?.length === 0" color="light">
            <ion-label class="ion-text-center">Lista de clientes vacia, por favor efectuar una busqueda</ion-label>
          </ion-item>
     
      </ion-col>
    </ion-row>
  </ion-grid>   
</ion-list>
</ion-content>
