.split-pane-visible >.split-pane-side {
  min-width: 100px!important;
  max-width: 100px!important;
  border: none;
  background-color: #222428;
} 
.fixed-content {        //comments showing what I replaced.
  overflow: auto;
  height: 100%;
}
::-webkit-scrollbar{
  display: none;
}
.split-pane-visible >.expand-menu  {
  min-width: 200px!important;
  max-width: 200px!important;

}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #222428));
}

ion-menu.md ion-content, ion-list {
  background-color: #222428;
}

ion-menu ion-item.selected ion-label {
  font-weight: bold;
}

ion-item:hover{
background:#284C5C
}
ion-item:hover ion-label {
  color: var(--ion-color-success);
}
ion-avatar, ion-thumbnail{
  height: 35px;
  width: 35px;
  
  }
  
  ion-item{
    color: #fff;
  }
  ion-button{
    color: #fff;
    ion-label{
      text-transform: capitalize;
  
    }
  }

  @media(min-width:768px){
    ion-router-outlet{
      margin-top: 63px;
    }
    
  }
  
  @media(max-width:768px){
    ion-router-outlet{
      margin-top: 56px;
    }
    
  }