<ion-app>
  <ion-split-pane contentId="main-split">
    <ion-menu (mouseover)="openMenu()" [ngClass]="configuracionesService.menu   ? 'expand-menu' :'menu-hide'"
      contentId="main-content" type="overlay" menuId="myMenu">
      <ion-header class="ion-no-border">
        <ion-toolbar color="dark"  class="ion-text-center">
 <ion-title>IRP</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>



        <ion-menu-toggle auto-hide="false" *ngFor="let p of configuracionesService.company.modules; let i = index">

          <ion-item *ngIf="p.included" (click)="menuAction(p.url)" button lines="{{configuracionesService.menu ? '' : 'none'}}">
        
<ion-avatar slot="{{configuracionesService.menu ? 'start' : ''}}">
  <img [src]="p.image" />
</ion-avatar>
            <ion-label  *ngIf="configuracionesService.menu">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>



      </ion-content>

    </ion-menu>


    <div id="main-split" (mouseover)="closeMenu()">

      <ion-router-outlet id="main-content">



      </ion-router-outlet>

      <ion-footer class="ion-no-border" >
        <ion-toolbar>
          <ion-button  color="primary" size="small" slot="end">
            &copy; {{year}} SDE - V1.1
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </div>

  </ion-split-pane>

</ion-app>

