 ion-grid{
  ion-row{

    ion-col{
      .ion-text-wrap{
text-transform: capitalize;
        font-size: 14px;
      }
    }
  }
 }

 .fixed-content {        //comments showing what I replaced.
  overflow: auto;
  height: 62vh;
}  ion-card {
  font-size: 12px;

  overflow: unset !important;
  min-height:250px;
}
.fixed-content-facturas {        //comments showing what I replaced.
  overflow: auto;
  height: 60vh;
} .header-row{
padding: 0;
margin: 0;
  font-weight: bold;
  border-bottom: 2px solid black;
 
 
}

.data-row{
  font-size: 12px;
  border-bottom: 1px solid black;
}