

  <ion-toolbar>

    <ion-title class="ion-text-capitalize" class="title"><strong>Servicio al cliente
      <span  *ngIf="guia">
     -   {{guia.idGuia}}
      </span></strong></ion-title>

 
 



  
  <ion-fab-button slot="end" color="dark" 
  class="ion-margin-right" size="small" (click)="configuracionZonaRuta()">
  <ion-icon class="spin-element"  name="settings"></ion-icon>
</ion-fab-button>

<span slot="end" style="position:relative"   *ngIf="features?.length > 0 "  >
  <ion-fab-button   color="dark"   
  class="ion-margin-right" size="small"    (click)="informacionMarcadores()">
  <ion-icon name="location"></ion-icon>
</ion-fab-button>
<ion-badge style="position: absolute;top:0;right:-0.7rem;" color="primary" mode="ios">{{ features?.length }}</ion-badge>

</span>
<ion-fab-button slot="end" color="dark"  size="small"  *ngIf="features?.length > 0 "    (click)="limpiarDatos()"   >  
  <ion-icon  name="refresh"></ion-icon>
</ion-fab-button>

 

</ion-toolbar>


 








<ion-content class="ion-padding">

<ion-grid  style="height: 100%;">
<ion-row    style="height: 100%;">

      
<ion-col size="12">

<div  #mapa  [ngStyle]="{
  'height': '100%',
  'width': '100%'
}" class="mapa"></div>

</ion-col>


           


</ion-row>
</ion-grid>

</ion-content>

<ion-fab  style="position:fixed ; top: 6rem;right:2rem">
  

  <ion-fab-button (click)="next(page)" *ngIf="page < elementosAgrupados.length -1"  style="margin-top: 1rem;"   color="dark"> 
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-button (click)="prev(page)"  *ngIf="page > 0"  style="margin-top: 1rem;"   color="dark"> 
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>