
  <ion-toolbar  >
    <ion-grid >
      <ion-row>
        <ion-col size="6" style="display: flex; justify-content: center;align-items: right;">
          <ion-title class="ion-text-uppercase" style="text-align: left;">Lista de camiones</ion-title>
        
        </ion-col>
        <ion-col size="5" style="display: flex; justify-content: center;align-items: right;">
      
          <ion-searchbar    mode="ios" placeholder="Buscar camión" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
  

        </ion-col>
      </ion-row>
    </ion-grid>
 
      </ion-toolbar>


<ion-content>

  <ion-list>
 

      <ion-item  *ngFor="let camion of gestionCamiones.camiones | filtro: textoBuscar:'idCamion'" (click)="retornarCamion(camion)" detail>
        <ion-label>
          <h2>Placa : {{camion.idCamion}}  {{camion.descripcion}}
          </h2>
          <p>Chofer : {{camion.chofer}}</p>
          <p>Capacidad Volumen: {{camion.capacidadVolumen}}</p>
          <p>Capacidad Peso : {{camion.capacidadPeso}}</p>
  
        </ion-label>
            
      </ion-item>
  

    

    
  </ion-list>

</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>