<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestionar Camion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="height: 100%;" >
  <ion-row  style="height: 100%;">
    <ion-col size="12">
    

        <form id="form"   #fLogin="ngForm" >
             
          <ion-row>
        
          <ion-col size="12" size-md="4">
              
   
 
        <ion-row>
          <ion-col size="12">

            <ion-label><strong>Placa</strong></ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-input readonly="{{editarCamion ? true : false}}" maxlength="10" name="placa"   [(ngModel)]="camion.idCamion"  type="text" placeholder="placa" required></ion-input>
          </ion-col>
        </ion-row>
        
          </ion-col>
 
          <ion-col size="12" size-md="4">


            <ion-row>
              <ion-col size="12">
                <ion-label><strong>Modelo</strong></ion-label>
              </ion-col>
<ion-col size="12">
  <ion-input maxlength="10" name="modelo"   [(ngModel)]="camion.modelo"  type="text" placeholder="modelo" required></ion-input>
</ion-col>
            </ion-row>
              
            
     
            </ion-col>
            <ion-col size="12" size-md="4">
              <ion-row>
                <ion-col size="12">
                  <ion-label><strong>Propietario</strong></ion-label>
                </ion-col>
                      <ion-col size="12">
                        <ion-input maxlength="50" name="propietario"   [(ngModel)]="camion.propietario"  type="text" placeholder="propietario" required></ion-input>
                </ion-col>
              </ion-row>
             
      
              </ion-col>
              <ion-col size="12" size-md="4">

                <ion-row>
                  <ion-col size="12">
                    <ion-label><strong>Chofer</strong></ion-label>
                  </ion-col>
                        <ion-col size="12">
                          <ion-input  maxlength="50" name="chofer"   [(ngModel)]="camion.chofer"  type="text" placeholder="chofer" required></ion-input>
                  </ion-col>
                </ion-row>



         
              
                </ion-col>
              <ion-col size="12" size-md="4">


                <ion-row>
                  <ion-col size="12">
                    <ion-label><strong>Capacidad Peso</strong></ion-label>
                  </ion-col>
                        <ion-col size="12">
                          <ion-input name="capacidadPeso"   [(ngModel)]="camion.capacidadPeso"  type="number" placeholder="capacidad peso" required></ion-input>
                  </ion-col>
                </ion-row>




              
            
              
                </ion-col>
                <ion-col size="12" size-md="4">
          

                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Capacidad Volumen</strong></ion-label>

                    </ion-col>
                          <ion-col size="12">
                            <ion-input name="capacidadVolumen"   [(ngModel)]="camion.capacidadVolumen"  type="number" placeholder="capacidad volumen" required></ion-input>
                    </ion-col>
                  </ion-row>



              
          
                
                  </ion-col>
      
                    <ion-col size="12" size-md="4">
              

                      <ion-row>
                        <ion-col size="12">
                          <ion-label><strong>Frio {{frio ? 'Si' : 'No'}}</strong></ion-label>
                        </ion-col>
                              <ion-col size="12">
                                <ion-toggle size="small" name="frio" (ionChange)="frioToggleOnChange($event)" [(ngModel)]="frio" ></ion-toggle>
                        </ion-col>
                      </ion-row>


                 
                    
                      </ion-col>
                      <ion-col size="12" size-md="4">
              


                        <ion-row>
                          <ion-col size="12">
                            <ion-label><strong>Seco {{seco ? 'Si' : 'No'}}</strong></ion-label>
                          </ion-col>
                                <ion-col size="12">
                                  <ion-toggle  size="small"  name="seco" (ionChange)="secoToggleOnChange($event)" [(ngModel)]="seco" ></ion-toggle>
                          </ion-col>
                        </ion-row>


                  
                      
                        </ion-col>
                        <ion-col size="12" size-md="4">
              


                            <ion-row>
              <ion-col size="12">
                <ion-label><strong>Activo {{activo ? 'Si' : 'No'}}</strong></ion-label>
              </ion-col>
                    <ion-col size="12">
                      <ion-toggle  size="small" name="activo" (ionChange)="activoToggleOnChange($event)" [(ngModel)]="activo" ></ion-toggle>
              </ion-col>
            </ion-row>


 
                        
                          </ion-col>
              
                          <ion-col size="12"   >
              


                            <ion-row>
                              <ion-col size="12">
                                <ion-label><strong>Descripción</strong></ion-label>
                              </ion-col>
                                    <ion-col size="12">
                <ion-input class="description"  name="descripcion"    [(ngModel)]="camion.descripcion"  type="text" placeholder="descripción"></ion-input>
                              </ion-col>
                            </ion-row>



                
                            
                              </ion-col>
        
        </ion-row>
        
         </form>
    



    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="enviarFormulario()"   expand="block" fill="solid"  color="dark">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
