<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestionar Camion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="height: 100%;" >
  <ion-row  style="height: 100%;">
    <ion-col size="12">
    

        <form id="form"   #fLogin="ngForm" >
             
          <ion-row>
        
          <ion-col size="12" size-md="4">
              
          <ion-label>Id Camion</ion-label>
          <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
            <ion-input maxlength="10" name="idCamion"   [(ngModel)]="camion.idCamion"  type="text" placeholder="id camion" required></ion-input>
            </ion-item>
        
        
          </ion-col>
          <ion-col size="12" size-md="4">
              
            <ion-label>Modelo</ion-label>
            <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
              <ion-input maxlength="10" name="modelo"   [(ngModel)]="camion.modelo"  type="text" placeholder="modelo" required></ion-input>
              </ion-item>
          
          
            </ion-col>
            <ion-col size="12" size-md="4">
              
              <ion-label>Propietario</ion-label>
              <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                <ion-input maxlength="50" name="propietario"   [(ngModel)]="camion.propietario"  type="text" placeholder="propietario" required></ion-input>
                </ion-item>
            
            
              </ion-col>
              <ion-col size="12" size-md="4">
                <ion-label>Chofer</ion-label>
                <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                  <ion-input  maxlength="50" name="chofer"   [(ngModel)]="camion.chofer"  type="text" placeholder="chofer" required></ion-input>
                  </ion-item>
              
              
                </ion-col>
              <ion-col size="12" size-md="4">
              
                <ion-label>Capacidad Peso</ion-label>
                <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                  <ion-input name="capacidadPeso"   [(ngModel)]="camion.capacidadPeso"  type="number" placeholder="capacidad peso" required></ion-input>
                  </ion-item>
              
              
                </ion-col>
                <ion-col size="12" size-md="4">
              
                  <ion-label>Capacidad Volumen</ion-label>
                  <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                    <ion-input name="capacidadVolumen"   [(ngModel)]="camion.capacidadVolumen"  type="number" placeholder="capacidad volumen" required></ion-input>
                    </ion-item>
                
                
                  </ion-col>
      
                    <ion-col size="12" size-md="4">
              
                      <ion-label>Frio</ion-label>
                      <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                        <ion-label>{{frio ? 'Si' : 'No'}}</ion-label>
                        <ion-toggle size="small" name="frio" (ionChange)="frioToggleOnChange($event)" [(ngModel)]="frio" ></ion-toggle>
                        </ion-item>
                    
                    
                      </ion-col>
                      <ion-col size="12" size-md="4">
              
                        <ion-label>Seco</ion-label>
                        <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                          <ion-label>{{seco ? 'Si' : 'No'}}</ion-label>
                          <ion-toggle  size="small"  name="seco" (ionChange)="secoToggleOnChange($event)" [(ngModel)]="seco" ></ion-toggle>
                          </ion-item>
                      
                      
                        </ion-col>
                        <ion-col size="12" size-md="4">
              
                          <ion-label>Activo</ion-label>
                          <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                            <ion-label>{{activo ? 'Si' : 'No'}}</ion-label>
                         <ion-toggle  size="small" name="activo" (ionChange)="activoToggleOnChange($event)" [(ngModel)]="activo" ></ion-toggle>
                            </ion-item>
                        
                        
                          </ion-col>
              
                          <ion-col size="12"   >
              
                              <ion-label>Descripcion</ion-label>
                              <ion-item class="ion-margin-bottom ion-margin-top" lines="none">
                                <ion-textarea  maxlength="100" name="descripcion"   [(ngModel)]="camion.descripcion"  type="text" placeholder="descripcion" required></ion-textarea>
                                </ion-item>
                            
                            
                              </ion-col>
        
        </ion-row>
        
         </form>
    



    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="enviarFormulario()"   expand="block" fill="solid"  color="dark">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
