
  <ion-toolbar  >
    <ion-grid >
      <ion-row>
        <ion-col size="6" style="display: flex; justify-content: center;align-items: right;">
          <ion-title class="ion-text-uppercase" style="text-align: left;">Fecha de entrega</ion-title>
        
        </ion-col>

      </ion-row>
    </ion-grid>
    
        
      </ion-toolbar>
<ion-content  class="ion-padding">
  <ion-datetime style="background-color: white;" presentation="date" mode="ios" required  #dateTime size="cover" (ionChange)="retornarFecha($event)"  >
  </ion-datetime>


</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>