<app-header></app-header>
<ion-content >
<ion-grid >
  
  <ion-row  style="padding: 4rem;">
      
  <ion-col size="12"  style="display: flex; margin-bottom: 100px;" >

    <ion-title class="ion-text-left" style="font-size: 1.2rem;letter-spacing: 0.5rem; text-transform: uppercase;">Gestor de Modulos IRP</ion-title>
    <ion-searchbar mode="ios" palceholder="Buscar modulo" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
  </ion-col>
    <ion-col size="4"  mode="ios"  *ngFor="let modulo of modulosArray | filtro : textoBuscar:'titulo'">
      <ion-card [routerLink]="modulo.ruta" >
        <img [src]="modulo.imagen" class="slide-image" alt="">
        <ion-card-header>
          <ion-card-subtitle>{{modulo.titulo}}</ion-card-subtitle>
        
        </ion-card-header>
        <ion-card-content>
          {{modulo.descripcion}}
         
        </ion-card-content>
    
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
