

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floating-img2{

    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    position: absolute;
    top: -12rem;
    
}

.floating-img{

    width: 8rem;
    height: 8rem;
    border-radius: 100%;

    
}
.floating-title2{
    position: absolute;
    top: -3rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.floating-title{
   
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.text-content{

    font-size: 0.9rem;
}