<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title class="ion-text-left" style="font-size: 0.9rem;letter-spacing: 0.2rem; text-transform: uppercase;" color="light">Planificación de rutas</ion-title>

        <ion-label color="light">
          <h2 class="ion-text-uppercase">Ruta</h2>
          <p *ngIf="rutaZona">
            <ion-badge color="primary" mode="ios">{{rutaZona.Ruta}}</ion-badge>
          </p>
        </ion-label>
        <ion-label color="light">
          <h2 class="ion-text-uppercase">Zona</h2>
          <p *ngIf="rutaZona">
            <ion-badge color="primary" mode="ios">{{rutaZona.Descripcion}}</ion-badge>
          </p>
        </ion-label>

        <ion-buttons  slot="end">
          <ion-button   [routerLink]="['/inicio']" fill="solid" shape="round" color="dark" size="small">
            <ion-icon name="home-outline"></ion-icon>
              </ion-button>


          <ion-button  shape="round" fill="solid" color="dark" (click)="configuracionZonaRuta()">
            <ion-icon class="spin-element"  name="settings"></ion-icon>
          </ion-button>
          <ion-button *ngIf="clientes.rutasClientes?.length > 0 || clientes.nuevosClientes?.length > 0"   shape="round" fill="solid" color="dark" (click)="informacionMarcadores($event)">
            <ion-icon name="location"></ion-icon>
            <ion-badge color="primary" mode="ios">{{ mapboxLgService?.marcadores?.length }}</ion-badge>
          </ion-button>
      
      
          <ion-button  *ngIf="clientes.rutasClientes?.length > 0 || clientes.nuevosClientes?.length > 0"   shape="round" fill="solid" color="dark" (click)="dragMarcadores()"> 
            <ion-icon slot="start" name="locate-outline"></ion-icon>
            <ion-badge color="warning" mode="ios" >{{modo}}</ion-badge>
          </ion-button>
      
      
      
      
          <ion-button shape="round" fill="solid" color="dark" (click)="menuCliente()" *ngIf="rutaZona">
            <ion-icon  name="person-add"></ion-icon>
          </ion-button>
          <ion-button   *ngIf="rutaZona" (click)="limpiarDatos()"  shape="round" fill="solid" color="dark">
            <ion-icon  name="refresh"></ion-icon>
              </ion-button>
          <ion-button   *ngIf="clientes.rutasClientes?.length > 0 || clientes.nuevosClientes?.length > 0" (click)="postRutas()"  shape="round" fill="solid" color="dark">
        <ion-icon  name="save"></ion-icon>
          </ion-button>
        <ion-button    [routerLink]="['/log-in']" fill="solid" shape="round" color="danger" size="small">
    <ion-label slot="start">Salir</ion-label>
    <ion-icon name="close" slot="end"> </ion-icon>
  </ion-button>
        </ion-buttons>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>


</ion-header>






<ion-content class="ion-padding">

<ion-grid  style="height: 100%;">
<ion-row    style="height: 100%;">

      
<ion-col size="12">

<div  #mapa  [ngStyle]="{
  'height': '100%',
  'width': '100%'
}" class="mapa"></div>

</ion-col>


           


</ion-row>
</ion-grid>

</ion-content>
