.preview-slides {
  background: #e6e6e6;
 height: 100%;
}
.header-row{
  padding: 0;
  margin: 0;
    font-weight: bold;
    border-bottom: 2px solid black;
   
   
  }
  
  .data-row{
    font-size: 14px;
    border-bottom: 1px solid black;
    ion-icon{
    font-size: 1.5rem;
    }
  }
ion-content{
//--background: #e6e6e6;
}