
  <ion-toolbar>
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-title slot="start" class="ion-text-uppercase" style="text-align: left;">{{titulo}} <ion-badge color="dark" mode="ios">{{incluirFacturas ? facturas.length : 1}}</ion-badge></ion-title>
  
           
          </ion-item>
        </ion-col>
        <ion-col size="8">
          
          <ion-item >
        <span style="display: flex;justify-content: center;align-items: center;">
          <ion-label>Nueva Guia</ion-label>
          <ion-toggle  [(ngModel)]="listaGuias"  (ionChange)="toggleGuiasNuevas($event)"></ion-toggle>
        </span>

        <span style="display: flex;justify-content: center;align-items: center;">
          <ion-label>Guia Existente</ion-label>
          <ion-toggle [(ngModel)]="listaGuiasExistentes" (ionChange)="toggleGuiasExistentes($event)"></ion-toggle>
        </span>
        
     
 
       <ion-fab-button slot="end" color="dark" (click)="filtrar()" class="ion-margin-right"  size="small">
        <ion-icon name="funnel-outline"></ion-icon>
       </ion-fab-button>
              </ion-item>
        </ion-col>
        <ion-col size="4" style="display:flex; justify-content: center;align-items: center;">
      
          <ion-searchbar    mode="ios" placeholder="Buscar camión" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
     
        </ion-col>
      </ion-row>
    </ion-grid>

        
      </ion-toolbar>


<ion-content>
<ion-grid >
  <ion-row>
    <ion-col size="6" class="fixed-content">

<ion-list *ngIf="!incluirFacturas">
  <ion-item>
    <ion-label>{{factura.FACTURA}}</ion-label>
  </ion-item>
</ion-list>
<ion-list *ngIf="incluirFacturas" >

  <ion-item  *ngFor="let factura of facturasArray">
    <ion-label>{{factura.FACTURA}}</ion-label>
  </ion-item>

</ion-list>

    </ion-col>
    <ion-col size="6" class="fixed-content">
      <ion-card *ngFor="let guia of guias;let i = index;" (click)="retornarCamion(guia)">
    
        <ion-card-content style="text-align: left;">
          <ion-grid >
            <ion-row>
       
              <ion-col size="6">
                <ion-badge color="dark" mode="ios">{{guia.idGuia}}</ion-badge></ion-col>
               
              <ion-col size="12">{{guia.camion.chofer}}</ion-col>
              <ion-col size="{{guia.verificada ? 6 : 12}}"><strong>Placa</strong> : {{guia.camion.idCamion}}</ion-col>
       
              <ion-col size="12">
                <ion-row class="header-row">
                  <ion-col size="4" class="ion-text-wrap">Clientes</ion-col>
                  <ion-col size="4" class="ion-text-wrap">Facturas</ion-col>
                  <ion-col size="4" class="ion-text-wrap">Bultos</ion-col>
              
                </ion-row>
               </ion-col>
               <ion-col size="4"> {{guia.numClientes}}</ion-col>
               <ion-col size="4"> {{guia.totalFacturas}}</ion-col>
               <ion-col size="4">{{guia.camion.volumen.toFixed(2) }}</ion-col>

       <ion-col size="12">
        <ion-row class="header-row">
          <ion-col size="4" class="ion-text-wrap">Peso Total</ion-col>
          <ion-col size="4" class="ion-text-wrap">Actual</ion-col>
          <ion-col size="4" class="ion-text-wrap">Restante</ion-col>
      
        </ion-row>
       </ion-col>
              <ion-col size="4">{{guia.camion.capacidad.toFixed(2) }}</ion-col>
              <ion-col size="4">{{guia.camion.peso.toFixed(2) }}</ion-col>
              <ion-col size="4">{{guia.camion.pesoRestante.toFixed(2)}}</ion-col>
             
            
            </ion-row>
          </ion-grid>
    
        </ion-card-content>

  
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>