
  <ion-toolbar>

        <ion-grid >
          <ion-row>
            <ion-col size="12">
    <ion-row>
      <ion-col size="12" class="align">
        <ion-button     (click)="cerrarModal()"   fill="clear" shape="round">
          <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
            </ion-button>       
            <ion-title>Generar Guia</ion-title>
            <ion-label>{{fecha | date}}</ion-label>
      </ion-col>
     
    </ion-row>
            </ion-col>
            <ion-col size="7" class="background">
          <ion-row>
            <ion-col size="12">
<ion-row>
  <ion-col size="8">
    <ion-label > {{incluirFacturas ? 'Todas Las Facturas' : 'Facturas'}}
      <ion-badge  class="margin-left"   color="dark" mode="ios">{{totalFacturas}}</ion-badge>

    </ion-label>

  </ion-col>
  <ion-col size="4" class="align">
    <ion-icon   name="receipt-outline"></ion-icon>
    <ion-toggle   class="margin-left" [(ngModel)]="incluirFacturas"    (ionChange)="agregarTodasFacturas($event)"></ion-toggle>
  </ion-col>
</ion-row>
            </ion-col>

           
            <ion-col size="4" class="ion-text-wrap" >Frio / Seco <ion-badge color="dark" mode="ios">{{ totalFrio}} / {{ totalSeco}}</ion-badge></ion-col>
            <ion-col size="4" class="ion-text-wrap"  >Bultos <ion-badge color="dark" mode="ios">{{bultosTotales.toFixed(2)}}</ion-badge></ion-col>
            <ion-col size="4" class="ion-text-wrap" >Peso <ion-badge color="dark" mode="ios">{{pesoTotal.toFixed(2)}}</ion-badge></ion-col>
           
         
          </ion-row>
            </ion-col>
        
            <ion-col size="5"  class="background">
        
              <ion-row>
                <ion-col size="6"  class="align">
                  <ion-label>Nueva Guia</ion-label>
                  <ion-toggle  class="margin-left" [(ngModel)]="nuevaGuia"  (ionChange)="toggleGuiasNuevas($event)"></ion-toggle>
                </ion-col> 

                <ion-col size="6" class="align">
                  <ion-label>Guia Existente</ion-label>
                  <ion-toggle  class="margin-left" [(ngModel)]="guiaExistente" (ionChange)="toggleGuiasExistentes($event)"></ion-toggle>
                </ion-col>

                <ion-col size="6" class="align">
                  <ion-label>Guias Estado INI</ion-label>
                  <ion-toggle   class="margin-left" [(ngModel)]="guiaIni" (ionChange)="toggleGuiasEstadoIni($event)"></ion-toggle>
                </ion-col>

                <ion-col size="6">
                  
                </ion-col>
         
              </ion-row>
        
        
        
         
         
         
            </ion-col>
          </ion-row>
        </ion-grid>
   
  </ion-toolbar>


<ion-content>
<ion-grid  style="height: 100%;">
  
  <ion-row style="height: 100%;">


    <ion-col size="7"  style="height: 100%">
      <ion-row style="height: 100%">
        <ion-col size="12"  style="height: 20%;"> 
          <ion-searchbar placeholder="Buscar Cliente"  type="text" (ionChange)="onSearchChange($event)" mode="ios"></ion-searchbar>
        </ion-col>

        <ion-col size="12" style="height: 80%;overflow: auto;">
          <ion-row  *ngFor="let cliente of facturas  | filtro : textoBuscarClientes:'nombre'" lines="none" color="light" style="margin-bottom: 0.5rem;">
        
            <ion-col size="12" >
              <ion-label color="primary" class="ion-text-wrap ion-text-uppercase"    style="display: flex;justify-content:left;align-items:center">
            
                <ion-badge  class="margin-right"  color="warning" mode="ios" >{{cliente.id}}</ion-badge>
                <strong>{{cliente.nombre}}</strong></ion-label>
            </ion-col>
            <ion-col size="12" class="ion-text-capitalize">
              <strong>Dirección </strong> 
            <p>{{cliente.direccion}}</p>
            </ion-col>
    
            <ion-col size="12" >
              <ion-row class="header-row">
                <ion-col size="5" class="ion-text-wrap">Factura</ion-col>
         
                <ion-col size="3" class="ion-text-wrap">Frio / Seco</ion-col>
                <ion-col size="2" class="ion-text-wrap">Bultos</ion-col>
                <ion-col size="2" class="ion-text-wrap">Peso</ion-col>
            
        
        
              </ion-row>
              <ion-row class="data-row"  *ngFor="let factura of cliente.facturas" >
    
                <ion-col size="5" >
                  <ion-label>{{factura.FACTURA}}</ion-label>
                 
                     </ion-col>
                     <ion-col size="3" class="ion-text-center">
          
                    
                      <ion-icon color="{{factura.FRIO_SECO == 'F' ? 'primary' : 'warning'  }}"
                      name="{{factura.FRIO_SECO == 'F' ? 'snow-outline' : 'sunny-outline'  }}"></ion-icon>
                      
                    </ion-col>
                    <ion-col size="2">
                      <ion-label class="ion-text-wrap">{{factura.RUBRO1}}</ion-label>
                    </ion-col>
                    <ion-col size="2">
                      <ion-label class="ion-text-wrap">{{factura.TOTAL_PESO_NETO}}</ion-label>
                    </ion-col>
               </ion-row>
    
        
    
            </ion-col>
          </ion-row>
        </ion-col>
       </ion-row>
    


</ion-col>
    <ion-col size="5"  style="height: 100%;overflow: auto;" >
      
 <ion-row>

<ion-col size="12" *ngIf="guias.length == 0">
  
  <ion-list >
    <ion-item >
      <ion-icon slot="start" size="large" color="danger" name="alert-circle-outline"></ion-icon>
      <ion-label><strong>No hay datos que mostrar...</strong></ion-label>
    </ion-item>
  </ion-list>
</ion-col>
  <ion-col size="12" *ngFor="let guia of guias;let i = index;">
  
    <ion-card     (click)="retornarCamion(guia)">
   
   <ion-card-content>
    <ion-grid >
      <ion-row>
 

         
        <ion-col size="12">{{guia.camion.chofer}}</ion-col>
        <ion-col size="6"><strong>Placa</strong> : {{guia.camion.idCamion}}</ion-col>
        <ion-col size="6">
          <ion-badge color="dark" mode="ios">{{guia.idGuia}}</ion-badge></ion-col>
        <ion-col size="6">
          <ion-row  >
            <ion-col size="12"    style="display: flex;justify-content:space-between;align-items: center;">Clientes {{guia.numClientes}}</ion-col>
            <ion-col size="12"   style="display: flex;justify-content:space-between;align-items: center;">Facturas {{guia.totalFacturas}}</ion-col>
            <ion-col size="12"    style="display: flex;justify-content:space-between;align-items: center;">Bultos {{guia.camion.bultos.toFixed(2)}}</ion-col>
        
          </ion-row>
         </ion-col>
     
 <ion-col size="6">
  <ion-row  >
    <ion-col size="12"   style="display: flex;justify-content:space-between;align-items: center;">Peso Total {{guia.camion.capacidad.toFixed(2) }}</ion-col>
    <ion-col size="12"    style="display: flex;justify-content:space-between;align-items: center;">Peso Actual {{guia.camion.peso.toFixed(2) }}</ion-col>
    <ion-col size="12"    style="display: flex;justify-content:space-between;align-items: center;">Peso Restante {{guia.camion.pesoRestante.toFixed(2)}}</ion-col>

  </ion-row>
 </ion-col>
     
      </ion-row>
    </ion-grid>
   </ion-card-content>

 

 
</ion-card>


  </ion-col>
 </ion-row>
  
      </ion-col>
  
  </ion-row>
</ion-grid>

</ion-content>

 