<ion-header class="ion-no-border" traslucent>
 
  <ion-toolbar>


    <ion-title class="title">
      
      <ion-label>Lista de guias guardadas </ion-label> 
      <ion-badge>{{idGuiasArray.length}}</ion-badge></ion-title>


  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Numero de guia</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of idGuiasArray">
      <ion-label>
    
         {{item}}
    
        
    
       </ion-label>
    
    </ion-item>
  </ion-list>
  
</ion-content>


<ion-fab  (click)="cerrarModal()" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button   color="danger">
    <ion-icon  name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
