
.item-md {

    background-color: transparent;
    }
    
    .item-ios {
    
    background-color: transparent;
    }
    
    ion-list {
        --ion-item-background: transparent;
    }
    ion-item {
        --ion-item-background: transparent;
    }