<ion-header class="ion-no-border">
  <ion-toolbar color="dark">


    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title class="ion-text-left" style="font-size: 0.9rem;letter-spacing: 0.2rem; text-transform: uppercase;" color="light">Planificación de Entregas</ion-title>
     
        <ion-label color="light">
          <h2 class="ion-text-uppercase">Ruta</h2>
          <p *ngIf="controlCamionesGuiasService.rutaZona">
            <ion-badge color="primary" mode="ios" >{{controlCamionesGuiasService.rutaZona.RUTA}}</ion-badge>
          </p>
        </ion-label>
        <ion-label color="light">
          <h2 class="ion-text-uppercase">Zona</h2>
          <p  *ngIf="controlCamionesGuiasService.rutaZona">
            <ion-badge color="primary" mode="ios">{{controlCamionesGuiasService.rutaZona.DESCRIPCION}}</ion-badge>
          </p>
        </ion-label>
   
        <ion-buttons slot="end" >
       
          <ion-button  (click)="presentPopover($event)"    shape="round" color="dark" size="small">
            <ion-icon color="light" name="bus-outline"></ion-icon>n>
            <ion-badge color="primary" mode="ios">{{controlCamionesGuiasService.rutas.length}}</ion-badge>
          </ion-button>
          <ion-button *ngIf="controlCamionesGuiasService.rutas.length > 0"  (click)="planificacionEntegasClientes()"    shape="round" color="dark" size="small">
            <ion-icon   color="light" name="location-outline"></ion-icon>
            <ion-badge color="primary" mode="ios">{{controlCamionesGuiasService.clientes.length}}</ion-badge>
          </ion-button>


          <ion-popover mode="ios"  #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
              <ion-content class="ion-padding">

                <ion-list>
                  <ion-radio-group [value]="controlCamionesGuiasService.rutaZona"  (ionChange)="rutasRacioGroup($event)">
                  <ion-item *ngFor="let ruta of controlCamionesGuiasService.rutas">
                    <ion-radio slot="start" [value]="ruta"></ion-radio>
                    <ion-label class="ion-text-wrap">{{ruta.DESCRIPCION}}</ion-label>
           
                    <button (click)="removerRuta(ruta)"  size="small" color="clear">

                      <ion-icon  slot="end" color="danger" name="close-outline"></ion-icon>

                    </button>
                  </ion-item>

                </ion-radio-group>
                </ion-list>


              </ion-content>
            </ng-template>



          
          </ion-popover>
          <ion-button   [routerLink]="['/inicio']" fill="solid" shape="round" color="dark" size="small">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>

          <ion-button  (click)="gestionGuias()" color="primary"  fill="solid" shape="round">
            Gestionar Guias
          </ion-button>

          <ion-button  shape="round" fill="solid" color="dark" (click)="gestionErrores()">
            <ion-icon  name="bug"></ion-icon>
            <ion-badge color="primary" mode="ios">{{planificacionEntregasService.errorArray.length}}</ion-badge>
          </ion-button>
  

       
          <ion-button   *ngIf="controlCamionesGuiasService.rutaZona" (click)="limpiarDatos()"  shape="round" fill="solid" color="dark">
            <ion-icon  name="refresh"></ion-icon>
          </ion-button>
          <ion-button  shape="round" fill="solid" color="dark" (click)="configuracionZonaRuta()">
            <ion-icon class="spin-element"  name="settings"></ion-icon>
          </ion-button>
          <ion-button  shape="round" fill="solid" color="dark" (click)="reporteFacturas()">
            <ion-icon name="search-outline"></ion-icon>

          </ion-button>
        

          <ion-button *ngIf="controlCamionesGuiasService.rutaZona" shape="round" fill="solid" color="dark" (click)="calendarioModal()">
            <ion-icon   name="calendar"></ion-icon>
          </ion-button>
  
          <ion-button    [routerLink]="['/log-in']" fill="solid" shape="round" color="danger" size="small">
            <ion-label slot="start">Salir</ion-label>
            <ion-icon name="close" slot="end"> </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding">

  <ion-grid  style="height: 100%;">
  <ion-row    style="height: 100%;">
  
        
  <ion-col size="12">
  
  <div  #mapa  [ngStyle]="{
    'height': '100%',
    'width': '100%'
  }" class="mapa"></div>
  
  </ion-col>
  
  
             
  
  
  </ion-row>
  </ion-grid>


  <ion-accordion-group *ngIf="consultarClientesSeleccionados() > 0" style="  position: fixed;
  top: 160px;
  right: 130px;
  width:250px;">
    <ion-accordion value="first" >
      <ion-item slot="header" color="light">
        <ion-label>Clientes <ion-badge color="primary" mode="ios">{{consultarClientesSeleccionados()}}</ion-badge> </ion-label>
      </ion-item>
      <div class="ion-padding fixed" slot="content">

        <span *ngFor="let cliente of controlCamionesGuiasService.clientes"> 
          <ion-item   *ngIf="cliente.seleccionado" >
            <ion-label button (click)="detalleClientes(cliente)" class="ion-text-wrap" style="font-size: 12px;">{{cliente.nombre}}</ion-label>
            <ion-button (click)="borrarCliente(cliente)"   slot="end"  fill="clear"  >
          <ion-icon   color="danger" slot="icon-only" size="large" name="close-outline"></ion-icon>
            </ion-button>
           </ion-item>
        </span>

      </div>
    </ion-accordion>

  </ion-accordion-group>

  </ion-content>
  