<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>

      <ion-row>
        <ion-col size="12" size-md="4" style="display: flex;justify-content: center;align-items: center;">
          <ion-title class="ion-text-capitalize" class="title">
            <strong>Gestion Entregas {{ planificacionEntregasService.rutaZona ?
              planificacionEntregasService.rutaZona.DESCRIPCION : ''}} </strong>
          </ion-title>
        </ion-col>
        <ion-col size="12" size-md="8" style="display: flex;justify-content: flex-end;align-items: center;">
          <ion-searchbar *ngIf="planificacionEntregasService.clientes.length > 0" mode="ios"
            style="max-width: 300px;margin-top: 1rem;" placeholder="Buscar Factura" inputmode="numeric" type="numeric"
            [(ngModel)]="textFactura" (ionChange)="buscarFactura()" [debounce]="1500"></ion-searchbar>


          <span style="position:relative" *ngIf="planificacionEntregasService.rutaZona">
            <ion-fab-button color="dark" (click)="presentPopover($event)" class="ion-margin-right" size="small">
              <ion-icon name="bus"></ion-icon>
            </ion-fab-button>
            <ion-badge style="position: absolute;top:0;right:-0.7rem;" color="primary"
              mode="ios">{{planificacionEntregasService.rutas.length}}</ion-badge>


          </span>
          <ion-popover mode="ios" #popover [isOpen]="isPopOverOpen" (didDismiss)="isPopOverOpen = false">
            <ng-template>
              <ion-content class="ion-padding">

                <ion-list>
                  <ion-radio-group [value]="planificacionEntregasService.rutaZona"
                    (ionChange)="rutasRacioGroup($event)">
                    <ion-item *ngFor="let ruta of planificacionEntregasService.rutas">
                      <ion-radio slot="start" [value]="ruta"></ion-radio>
                      <ion-label class="ion-text-wrap">{{ruta.DESCRIPCION}}</ion-label>

                      <button (click)="removerRuta(ruta)" size="small" color="clear">

                        <ion-icon slot="end" color="danger" name="close-outline"></ion-icon>

                      </button>
                    </ion-item>

                  </ion-radio-group>
                </ion-list>


              </ion-content>
            </ng-template>




          </ion-popover>


          <ion-fab-button color="dark" *ngIf="planificacionEntregasService.rutaZona" (click)="calendario()"
            class="ion-margin-right" size="small">
            <ion-icon name="calendar"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="dark" (click)="reporteGuias()" class="ion-margin-right" size="small">
            <ion-icon name="search"></ion-icon>
          </ion-fab-button>


          <ion-fab-button color="dark" *ngIf="planificacionEntregasService.rutaZona" (click)="limpiarDatos()"
            class="ion-margin-right" size="small">
            <ion-icon name="refresh"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="dark" (click)="configuracionZonaRuta()" class="ion-margin-right" size="small">
            <ion-icon class="spin-element" name="settings"></ion-icon>
          </ion-fab-button>
          <ion-fab-button *ngIf="planificacionEntregasService.clientes.length > 0" color="dark" (click)="filtrar()"
            class="ion-margin-right" size="small">
            <ion-icon name="funnel-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button *ngIf="planificacionEntregasService.listaGuias.length > 0"  color="dark" (click)="exportarGuias()"
            class="ion-margin-right" size="small">
            <ion-icon name="save-outline"></ion-icon>
          </ion-fab-button>

      
     
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>


















<ion-content>

  <ion-grid  *ngIf="planificacionEntregasService.clientes.length == 0"  class="grid">
    <ion-row class="row">

      <ion-col class="ion-text-center"
        class="img-container">

      </ion-col>

  </ion-row>
</ion-grid>

  <ion-grid style="height: 100%;" class="grid"  *ngIf="planificacionEntregasService.clientes.length > 0">


    <ion-row class="row" style="height: 100%;">

    


      <ion-col size="4" style="height: 100%;overflow: auto;" *ngIf="planificacionEntregasService.listaGuias.length > 0"  >
  
   
 
 
 
<ion-row *ngFor="let guia of planificacionEntregasService.listaGuias; let i = index;">
  <ion-col size="2">
    <ion-fab  >
      <ion-fab-button   (click)="time(guia)" size="small" class="custom-button" color="primary">
        <ion-icon name="time-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button    (click)="validarClientes(guia)" size="small" class="custom-button" color="primary">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button    *ngIf="guia.verificada" (click)="mapa(guia)" size="small" class="custom-button"
        color="dark">
        <ion-icon name="map-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button   (click)="detalleGuia(guia)" size="small" class="custom-button" color="primary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button   (click)="borrarGuia(guia)" size="small" class="custom-button" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-col>
  <ion-col size="10">
    <ion-card style="padding:0.5rem; ">
      <ion-row>
  
        <ion-col size="12">
          <strong class="ion-text-capitalize"> {{guia.camion.chofer}} - Placa
            {{guia.camion.idCamion}}</strong>
        </ion-col>
        <ion-col size="12">
          <strong class="ion-text-capitalize">Guia <ion-badge style="margin-left: 0.5rem;" color="primary"
              mode="ios">{{guia.idGuia}}</ion-badge></strong>
        </ion-col>
        <ion-col size="12" *ngIf="guia.verificada">
          <strong>Distancia</strong> : {{guia.distancia.toFixed(2) }} km <strong>Duración</strong> :
          {{guia.duracion.toFixed(2)}} min
        </ion-col>
        <ion-col size="4" class="ion-text-wrap">
          <ion-label style="display: block;"><strong>Clientes</strong> </ion-label>
  
          <ion-badge style="margin-top: 0.2rem;" color="dark" mode="ios">
            {{guia.clientes.length}}</ion-badge>
  
        </ion-col>
        <ion-col size="4" class="ion-text-wrap">
          <ion-label style="display: block;"><strong>Facturas</strong> </ion-label>
  
          <ion-badge style="margin-top: 0.2rem;" color="dark" mode="ios"> {{guia.totalFacturas}}
  
  
          </ion-badge>
  
        </ion-col>
        <ion-col size="4" class="ion-text-wrap">
          <ion-label style="display: block;"><strong>Bultos</strong></ion-label>
  
          <ion-badge style="margin-top: 0.2rem;" color="dark" mode="ios">{{guia.camion.bultos.toFixed(2)
            }}</ion-badge>
  
  
        </ion-col>
  
  
        <ion-col size="4" class="ion-text-wrap">
          <ion-label style="display: block;"><strong>Peso Total</strong></ion-label>
  
  
          <ion-badge style="margin-top:  0.2rem;" color="dark"
            mode="ios">{{guia.camion.capacidad.toFixed(2) }}</ion-badge>
        </ion-col>
        <ion-col size="4" class="ion-text-wrap">
  
          <ion-label style="display: block;"><strong>Actual</strong></ion-label>
  
          <ion-badge style="margin-top:  0.2rem;" color="dark" mode="ios">{{guia.camion.peso.toFixed(2)
            }}</ion-badge>
        </ion-col>
        <ion-col size="4" class="ion-text-wrap">
          <ion-label style="display: block;">
            <strong>Restante</strong>
          </ion-label>
  
  
          <ion-badge style="margin-top:  0.2rem;" color="dark"
            mode="ios">{{guia.camion.pesoRestante.toFixed(2)}}</ion-badge>
        </ion-col>
  
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>
 
 

      </ion-col>




      <ion-col *ngIf="planificacionEntregasService.clientes.length > 0"
        size="{{planificacionEntregasService.listaGuias.length > 0 ? 8 : 12}}" style="height: 100%;">
        <ion-row style="height: 100%;">
          <ion-col size="12" *ngIf="planificacionEntregasService.clientes.length > 0"  >

            <ion-item lines="full">
              <ion-label slot="start" class="ion-text-uppercase"> <strong>Detalles Generales</strong></ion-label>

              <ion-label slot="end"><strong>Fecha</strong> <ion-badge style="margin-left: 0.5rem;" color="warning"
                  mode="ios">{{planificacionEntregasService.fecha}}</ion-badge></ion-label>


            </ion-item>

            <ion-item lines="full">
              <ion-grid>
                <ion-row class="ion-text-left">

                  <ion-col size="2">
      <ion-row>
        <ion-col size="12">
          <ion-label class="ion-text-wrap"><strong>Peso</strong>:</ion-label> 
        </ion-col>
        <ion-col size="12">

          <ion-label>{{planificacionEntregasService.pesoTotal.toFixed(2)}} KG</ion-label>
        </ion-col>
      </ion-row>
                  </ion-col>
                  <ion-col size="2">

                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="ion-text-wrap"><strong>Bultos</strong>:</ion-label> 
                      </ion-col>
                      <ion-col size="12">
              
                        <ion-label>  {{planificacionEntregasService.totalBultos.toFixed(2)}}</ion-label>
                      </ion-col>
                    </ion-row>
 
                  </ion-col>
                  <ion-col size="2">
             
                      <ion-row>
                        <ion-col size="12">
                          <ion-label class="ion-text-wrap"><strong>Volumen</strong>:</ion-label> 
                        </ion-col>
                        <ion-col size="12">
                
                          <ion-label> {{planificacionEntregasService.volumenTotal.toFixed(2)}}</ion-label>
                        </ion-col>
                      </ion-row>


                  </ion-col>
                  <ion-col size="2">

                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="ion-text-wrap"><strong>Clientes</strong>:</ion-label> 
                      </ion-col>
                      <ion-col size="12">
              
                        <ion-label>{{planificacionEntregasService.totalClientes}}</ion-label>
                      </ion-col>
                    </ion-row>



           
                  </ion-col>
                  <ion-col size="2">

                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="ion-text-wrap"><strong>Sin Puntear</strong>:</ion-label> 
                      </ion-col>
                      <ion-col size="12">
              
                        <ion-label>{{planificacionEntregasService.totalSinPuntear}}</ion-label>
                      </ion-col>
                    </ion-row>


 
                  </ion-col>
                  <ion-col size="2">

                    <ion-row>
                      <ion-col size="12">
                        <ion-label class="ion-text-wrap"><strong>Facturas</strong>:</ion-label> 
                      </ion-col>
                      <ion-col size="12">
              
                        <ion-label>{{planificacionEntregasService.totalFacturas}}</ion-label>
                      </ion-col>
                    </ion-row>

 
                  </ion-col>

                </ion-row>
              </ion-grid>


            </ion-item>
          </ion-col>
          <ion-col size="12" style="overflow: auto;height: 70%;">



            <ion-list *ngFor="let cliente of planificacionEntregasService.clientes; let i = index;">


              <ion-item lines="full" style="margin-bottom: 0.5rem;">
                <ion-badge style="margin-right: 0.5rem;" color="warning" mode="ios">{{cliente.id}}</ion-badge>
                <ion-label style="font-size: 14px;"><strong>{{cliente.nombre}}</strong></ion-label>
                <ion-badge *ngIf="!cliente.longitud || !cliente.latitud" slot="end" color="danger" mode="ios">Sin
                  Puntear</ion-badge>
                <ion-button slot="end" (click)="agregarFacturas(cliente)" fill="clear">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-list>
                <ion-list-header>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-label><strong>Dirección :</strong> {{cliente.direccion}}</ion-label>
                      </ion-col>
                      <ion-col size="6">
                        <ion-label>
                          <strong>Facturas</strong>
                          <ion-badge style="margin-left: 1rem;" color="primary"
                            mode="ios">{{cliente.facturas.length}}</ion-badge>


                          <span style="margin-left: 1rem;">

                            <ion-icon style="margin-left: 0.5rem;" style="font-size: 1.4rem;" color="warning"
                              name="sunny-outline"></ion-icon>
                            <ion-label style="margin-left: 0.5rem;"> {{cliente.totalSeco}}</ion-label>

                            <ion-icon style="font-size: 1.4rem;margin-left: 0.5rem" color="primary"
                              name="snow-outline"></ion-icon>
                            <ion-label style="margin-left: 0.5rem;"> {{cliente.totalFrio}}</ion-label>
                          </span>
                        </ion-label>

                      </ion-col>
                      <ion-col size="2" class="ion-text-wrap">Bultos <ion-badge color="primary"
                          mode="ios">{{cliente.totalBultos}}</ion-badge> </ion-col>
                      <ion-col size="2" class="ion-text-wrap">Peso <ion-badge color="primary"
                          mode="ios">{{cliente.totalPeso | number :'1.1-2'}}</ion-badge></ion-col>
                      <ion-col size="2">


                      </ion-col>

                    </ion-row>
                  </ion-grid>




                </ion-list-header>

                <ng-template ngFor let-factura [ngForOf]="cliente.facturas">


                  <ion-item lines="full" *ngIf="factura.SELECCIONADO">
                    <ion-icon slot="start" size="large" color="{{factura.FRIO_SECO == 'F' ? 'primary' : 'warning'  }}"
                      name="{{factura.FRIO_SECO == 'F' ? 'snow-outline' : 'sunny-outline'  }}"></ion-icon>


                    <ion-grid>
                      <ion-row>

                        <ion-col size="6">

                          <ion-row>
                            <ion-col size="12">
                              <ion-label class="ion-text-wrap">{{factura.FACTURA}}</ion-label>

                            </ion-col>
                            <ion-col size="12" *ngIf="factura.ID_GUIA">
                              <ion-badge color="primary" mode="ios">{{factura.ID_GUIA}}</ion-badge>

                            </ion-col>
                          </ion-row>


                        </ion-col>

                        <ion-col size="2">
                          <ion-label class="ion-text-wrap">{{factura.RUBRO1 ? factura.RUBRO1 : 0 | number }}</ion-label>
                        </ion-col>
                        <ion-col size="2">
                          <ion-label class="ion-text-wrap">{{ factura.TOTAL_PESO_NETO ? factura.TOTAL_PESO_NETO : 0
                            }}</ion-label>
                        </ion-col>
                        <ion-col size="2">
                          <ion-button (click)="modalControlFacturas(factura)" fill="clear">
                            <ion-icon color="dark" slot="icon-only" name="create"></ion-icon>
                          </ion-button>
                          <ion-button *ngIf="factura.ID_GUIA"
                            (click)="planificacionEntregasService.borrarFacturaGuia(factura)" fill="clear">
                            <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>


                    </ion-grid>
                  </ion-item>

                </ng-template>






              </ion-list>
            </ion-list>


          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

 