 
.grid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

ion-card{
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }

  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/assets/no-results.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
}