 

 
       
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-button  slot="start"  (click)="cerrarModal()"  fill="clear" shape="round">
  <ion-icon color="light"  size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Gestion Guias Entrega <ion-badge color="warning" mode="ios">{{controlCamionesGuiasService.listaGuias.length}}</ion-badge></ion-title>

  <ion-label  slot="end"   color="light"  class="ion-text-wrap" style="margin-right: 1rem;">
    <h2 class="ion-text-uppercase">Ruta  <ion-badge  *ngIf="controlCamionesGuiasService.rutaZona" color="primary" mode="ios" >{{controlCamionesGuiasService.rutaZona.RUTA}}</ion-badge></h2>
   
  </ion-label>
  <ion-label     slot="end"  color="light" class="ion-text-wrap" style="margin-right: 1rem;">
    <h2 class="ion-text-uppercase">Zona  <ion-badge  *ngIf="controlCamionesGuiasService.rutaZona" color="primary" mode="ios">{{controlCamionesGuiasService.rutaZona.DESCRIPCION}}</ion-badge></h2>
   
  </ion-label>

  <ion-button slot="end"   *ngIf="controlCamionesGuiasService.rutaZona" (click)="limpiarDatos()"  shape="round" fill="solid" color="dark">
    <ion-icon  name="refresh"></ion-icon>
  </ion-button>
    <ion-button slot="end" class="ion-margin" color="primary" *ngIf="controlCamionesGuiasService.listaGuias.length > 0" (click)="exportarGuias()" shape="round" fill="solid">
      <ion-icon slot="start"   name="save"></ion-icon>
      Guardar Guias
    </ion-button>

    <ion-searchbar mode="ios" slot="end" style="max-width: 300px;margin-top: 1rem;" color="light" placeholder="Buscar Factura" inputmode="numeric" type="numeric" [(ngModel)]="textFactura" (ionChange)="buscarFactura($event)" [debounce]="1500" ></ion-searchbar>
 
        <ion-fab-button  slot="end" color="dark" (click)="consultarFacturas()" class="ion-margin-right"  size="small">
    <ion-icon class="spin-element"  name="settings"></ion-icon>
   </ion-fab-button>
   <ion-fab-button *ngIf="controlCamionesGuiasService.clientes.length > 0"  slot="end"  color="dark" (click)="filtrar()" class="ion-margin-right"  size="small">
    <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>

  </ion-toolbar>

  
</ion-header>


<ion-content>

<ion-grid  style="height: 100%;" >

  <ion-row *ngIf="controlCamionesGuiasService.totalClientes == 0" style="height:100%;display:flex ;justify-content:center;align-items:center;"  >
    <ion-col size="12" >
  
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img  height="150" src="../assets/svgs/search.svg" alt="">
        </ion-col>
        <ion-col size="12" class="ion-text-center">
        No hay facturas que mostrar.
        </ion-col>
      </ion-row>
     

    </ion-col>
   
  </ion-row>


<ion-row *ngIf="controlCamionesGuiasService.totalClientes > 0">







  <ion-col   size="4" *ngIf="controlCamionesGuiasService.listaGuias.length > 0">
    <ion-row >

 

      
      <ion-col   class="ion-padding fixed-content" size="12" >
  
        <ion-card style="margin-bottom: 2rem;" *ngFor="let guia of controlCamionesGuiasService.listaGuias;let i = index;" >
    
          <ion-card-content style="text-align: left;">
            <ion-grid >
              <ion-row>
         
                <ion-col size="6">
                  <ion-badge color="dark" mode="ios">{{ guia.guiaExistente ? 'Guia existente' : 'Nueva Guia'}}</ion-badge></ion-col>
                  <ion-col size="6" class="ion-padding"> <strong>{{guia.idGuia}}</strong></ion-col>
                <ion-col size="12">{{guia.camion.chofer}}</ion-col>
                <ion-col size="{{guia.verificada ? 6 : 12}}"><strong>Placa</strong> : {{guia.camion.idCamion}}</ion-col>
                <ion-col size="6" *ngIf="guia.verificada">
                  <strong>Distancia</strong> : {{guia.distancia.toFixed(2) }} km  <strong>Duración</strong> : {{guia.duracion.toFixed(2)}} minutos
                </ion-col>
                <ion-col size="12">
                  <ion-row class="header-row">
                    <ion-col size="4" class="ion-text-wrap">Clientes</ion-col>
                    <ion-col size="4" class="ion-text-wrap">Facturas</ion-col>
                    <ion-col size="4" class="ion-text-wrap">Bultos</ion-col>
                
                  </ion-row>
                 </ion-col>
                 <ion-col size="4"> {{guia.clientes.length}}</ion-col>
                 <ion-col size="4"> {{guia.totalFacturas}}</ion-col>
                 <ion-col size="4">{{guia.camion.bultos.toFixed(2) }}</ion-col>

         <ion-col size="12">
          <ion-row class="header-row">
            <ion-col size="4" class="ion-text-wrap">Peso Total</ion-col>
            <ion-col size="4" class="ion-text-wrap">Actual</ion-col>
            <ion-col size="4" class="ion-text-wrap">Restante</ion-col>
        
          </ion-row>
         </ion-col>
                <ion-col size="4">{{guia.camion.capacidad.toFixed(2) }}</ion-col>
                <ion-col size="4">{{guia.camion.peso.toFixed(2) }}</ion-col>
                <ion-col size="4">{{guia.camion.pesoRestante.toFixed(2)}}</ion-col>
               
                <ion-col size="12"></ion-col>
              </ion-row>
            </ion-grid>
      
          </ion-card-content>
  
          <span style="position: absolute; top: -1.5rem; right: -1rem; display: flex;justify-content: space-around;">
            <ion-fab-button  (click)="time(guia)"   size="small" class="custom-button" color="primary"  >
              <ion-icon   name="time-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button  (click)="verificarGuia(guia)" size="small" class="custom-button" color="primary"  >
              <ion-icon   name="settings-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button  *ngIf="guia.verificada" (click)="mapa(guia)" size="small" class="custom-button" color="dark"  >
              <ion-icon   name="map-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="detalleGuia(guia)" size="small"  class="custom-button"  color="primary"  >
              <ion-icon    name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="borrarGuia(guia)" size="small" class="custom-button" color="danger"  >
              <ion-icon   name="trash-outline"></ion-icon>
            </ion-fab-button>
          </span>
        </ion-card>
      </ion-col>
    </ion-row>
  


  </ion-col>


  <ion-col   size="{{controlCamionesGuiasService.listaGuias.length > 0 ? 8 : 12}}">  




 













    <ion-row *ngIf="controlCamionesGuiasService.totalClientes > 0">
      <ion-col size="12">
        <ion-item  *ngIf="controlCamionesGuiasService.clientes.length > 0">
          <ion-grid >
            <ion-row  class="ion-text-left">
              <ion-col size="12">
             <strong>Detalles Generales</strong>
              </ion-col>
              <ion-col size="2">
                <ion-label  >Fecha  <ion-badge color="warning" mode="ios">{{controlCamionesGuiasService.fecha}}</ion-badge></ion-label>
              </ion-col>
              <ion-col   size="2">
                <ion-label><strong>Peso</strong>: {{controlCamionesGuiasService.pesoTotal.toFixed(2)}} KG </ion-label>
              </ion-col>
              <ion-col   size="2">
                <ion-label><strong>Bultos:</strong> {{controlCamionesGuiasService.totalBultos.toFixed(2)}}</ion-label>
              </ion-col>
              <ion-col   size="2">
                <ion-label><strong>Volumen</strong>:   {{controlCamionesGuiasService.volumenTotal.toFixed(2)}}</ion-label>
              </ion-col>
              <ion-col   size="2">
                <ion-label ><strong>Clientes</strong>:   {{controlCamionesGuiasService.totalClientes}}</ion-label>
              </ion-col>
              <ion-col   size="2">
                <ion-label><strong>Facturas</strong>:   {{controlCamionesGuiasService.totalFacturas}}</ion-label>
              </ion-col>
          
            </ion-row>
          </ion-grid>
          
          
          </ion-item>
      </ion-col>
      <ion-col size="12" class="fixed-content-facturas">
<span *ngFor="let cliente of controlCamionesGuiasService.clientes">
  <ion-list  *ngIf="cliente.seleccionado">
 
    <ion-item lines="none"  >

      <ion-row>
        <ion-col size="12">
          <ion-label color="primary" class="ion-text-wrap ion-text-uppercase"    style="display: flex;justify-content:left;align-items:center">
        
            <ion-badge style="margin-right: 1rem;"  color="warning" mode="ios" >{{cliente.id}}</ion-badge>
            <strong>{{cliente.nombre}}</strong>
         
          
            <ion-button   (click)="agregarFacturas(cliente)"  fill="clear"  >
              <ion-icon color="dark" slot="icon-only" name="create"></ion-icon>
             </ion-button>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <p class="ion-text-lowercase">{{cliente.direccion}}</p>
        </ion-col>
      </ion-row>

  
    </ion-item>
    <ion-item   lines="none"  >
      <ion-grid >
        <ion-row>

  
          <ion-col size="12" >
          <ion-item lines="none">
      <ion-grid >
        <ion-row class="header-row">
          <ion-col size="6" class="ion-text-wrap">
          
      
          
            Facturas 
            <ion-badge color="primary" mode="ios">{{cliente.facturas.length}}</ion-badge>
            <span   style="margin-left: 0.5rem;">
              
              <ion-icon style="font-size: 1.4rem;"  color="warning"   name="sunny-outline"></ion-icon>
              {{cliente.totalSeco}}

              <ion-icon  style="font-size: 1.4rem;"   color="primary"   name="snow-outline"></ion-icon>
              {{cliente.totalFrio}}
            </span>
          
          
          </ion-col>
   
         
          <ion-col size="2" class="ion-text-wrap">Bultos <ion-badge color="primary" mode="ios">{{cliente.totalBultos}}</ion-badge>  </ion-col>
          <ion-col size="2" class="ion-text-wrap">Peso <ion-badge color="primary" mode="ios">{{cliente.totalPeso | number :'1.1-2'}}</ion-badge></ion-col>
      
   <ion-col size="2">
    
   </ion-col>
  
        </ion-row>
  
      </ion-grid>
          </ion-item>
  
      
  
          </ion-col>

          <ion-col     size="12">
            <ion-item  *ngFor="let factura of cliente.facturas" lines="full">

              <ion-icon slot="start" size="large" color="{{factura.FRIO_SECO == 'F' ? 'primary' : 'warning'  }}"   name="{{factura.FRIO_SECO == 'F' ? 'snow-outline' : 'sunny-outline'  }}"></ion-icon>


            <ion-grid>
                <ion-row     >
    
          <ion-col size="6" >

            <ion-row>
              <ion-col size="12">
                <ion-label  class="ion-text-wrap">{{factura.FACTURA}}</ion-label>

              </ion-col>
              <ion-col size="12"  *ngIf="factura.ID_GUIA" >
                <ion-badge  color="primary" mode="ios">{{factura.ID_GUIA}}</ion-badge>
          
              </ion-col>
            </ion-row>
     
           
               </ion-col>
 
              <ion-col size="2">
                <ion-label class="ion-text-wrap">{{factura.RUBRO1 | number }}</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label class="ion-text-wrap">{{factura.TOTAL_PESO_NETO | number }}</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button    (click)="controlFacturas(factura)"  fill="clear"  >
                  <ion-icon color="dark" slot="icon-only" name="create"></ion-icon>
                 </ion-button>
                <ion-button       *ngIf="factura.ID_GUIA" (click)="controlCamionesGuiasService.borrarFacturaGuia(factura)"   fill="clear"  >
                 <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
         </ion-row>
          

            </ion-grid>

       
                 
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
        </ion-item>
  
  
  
  
  </ion-list>
</span>
     


      </ion-col>
    </ion-row>



  </ion-col>
</ion-row>

</ion-grid>
 

  





</ion-content>