

  <ion-header id="header" class="ion-no-border" color="primary">

  
    <ion-grid  >

      <ion-row >
        <ion-col size="4">
          <ion-list lines="none">

            <ion-item>
              <ion-label ><ion-badge color="dark">Ruta</ion-badge> {{rutas.ruta.DESCRIPCION | rutas }} <ion-badge>{{rutas.ruta.RUTA}}</ion-badge></ion-label>
            </ion-item>
            <ion-item>
              <ion-label ><ion-badge color="dark">Zona</ion-badge> {{zonas.zona.NOMBRE}} <ion-badge>{{zonas.zona.ZONA}}</ion-badge></ion-label>
      
            </ion-item>
          </ion-list>
        </ion-col>

    
    <ion-col size="6">

     <ion-card-header>
       <ion-card-title>Planificación de Entregas IRP</ion-card-title>
     </ion-card-header>
     <ion-searchbar mode="ios" placeholder="Buscar cliente" inputmode="text"  (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
    </ion-col>
    <ion-col size="2" style="margin-top: 15px;">
      <ion-buttons   class="margin-rignt" >
        <ion-button  shape="round" fill="solid" color="dark" (click)="mostrarRuta($event)">
          <ion-icon class="spin-element"  name="settings"></ion-icon>
        </ion-button>
        <ion-button  shape="round" fill="solid" color="dark" (click)="mapaCompleto()">
          <ion-icon  name="map"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  
      </ion-row>
    </ion-grid>
  </ion-header>

<ion-content >




<ion-grid style="margin-top: 180px ;">
  <ion-row >

    <ion-col size="12" size-md="3" *ngFor="let cliente of rutaFacturas.rutaFacturasArray | filtro : textoBuscar:'NOMBRE_CLIENTE'; let i = index;">
      <ion-card>
       
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <app-mini-mapa [height]="'180px'" [width]="'100%'"   [lngLat]="[cliente.LONGITUD,cliente.LATITUD]"></app-mini-mapa>


    </ion-col>
    <ion-col size="12">
      <ion-card-header>
        <ion-card-subtitle>{{cliente.NOMBRE_CLIENTE}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>




    <ion-buttons slot="secondary" style="display: flex; justify-content: end;">
      <ion-button color="dark" (click)="mostrarClienteFactura(cliente)">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
      <ion-button color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
      </ion-card-content>

    </ion-col>
  </ion-row>
</ion-grid>

      </ion-card>
    
    
    
    
    
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
