<div  #mapa  [ngStyle]="{
  'height': height,
  'width': width
}" >

<ion-list *ngIf="mostrar" style="  position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
width:80%;
height: 80%;
transform: translate(-50%, -50%);">
<ion-item>
  <ion-label>Detalles de Ruta Total Clientes : {{guia.ordenEntregaCliente.length}} / Facturas: {{guia.facturas.length}}</ion-label>

  <ion-label>Distancia : {{guia.distancia}} km  / Duracion : {{guia.duracion.toFixed(2)}} minutos</ion-label>

</ion-item>


<ion-row>
  <ion-col size="4"> Cliente</ion-col>
  <ion-col size="8">
    <ion-row>
      <ion-col size="3">Distancia  </ion-col>
      <ion-col size="3">Duración  </ion-col>
      <ion-col size="3">Hora Inicio</ion-col>
      <ion-col size="3">Hora Fin</ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row *ngFor="let cliente of elementosAgrupados[page]" (click)="irMarcador([cliente.longitud,cliente.latitud])">
  <ion-col size="4" class="ion-text-left">
<ion-row>
  <ion-col size="2">
    <ion-badge   color="dark" mode="ios">{{cliente.orden_visita}}</ion-badge>
 
  </ion-col>
  <ion-col size="10">
    <ion-label>{{cliente.cliente}} </ion-label>
  </ion-col>
</ion-row>

  </ion-col>
<ion-col size="8">
<ion-row>
  <ion-col size="3"> {{cliente.distancia.toFixed(2)}} KM </ion-col>
  <ion-col size="3">{{cliente.duracion.toFixed(2)}} Min </ion-col>
  <ion-col size="3"> {{cliente.HoraInicio | date:'shortTime'}}</ion-col>
  <ion-col size="3"> {{cliente.HoraFin | date:'shortTime'}}</ion-col>
</ion-row>

</ion-col>
</ion-row>

</ion-list>

</div>


<ion-fab vertical="top"  horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()"   color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="mostrarDatos()" style="margin-top: 1rem;"   color="dark"> 
    <ion-icon name="{{mostrar ? 'eye-outline' : 'eye-off-outline'}}"></ion-icon>
  </ion-fab-button>
  <ion-fab-button (click)="next(page)" *ngIf="page < elementosAgrupados.length -1"  style="margin-top: 1rem;"   color="dark"> 
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-button (click)="prev(page)"  *ngIf="page > 0"  style="margin-top: 1rem;"   color="dark"> 
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>