<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
  <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Guias Generadas 
    <ion-badge>{{idGuiasArray.length}}</ion-badge></ion-title>

  </ion-toolbar>
 

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><strong>Numero de guia</strong></ion-label>
    </ion-item>
    <ion-item lines="full" *ngFor="let item of idGuiasArray; let i = index;">

 
      <ion-label slot="start" class="ion-text-wrap">
    
         {{item}}
    
        
    
       </ion-label>
    
    </ion-item>
  </ion-list>
  
</ion-content>


