<ion-toolbar  >
  <ion-grid >
    <ion-row>
      <ion-col size="4" style="display: flex; justify-content: center;align-items: right;">
        <ion-title class="ion-text-uppercase" style="text-align: left;">Lista de guias Existentes</ion-title>
      
      </ion-col>
      <ion-col size="4" style="display: flex; justify-content: center;align-items: right;">
    
        <ion-searchbar    mode="ios" placeholder="Buscar guia" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>


      </ion-col>
      <ion-col size="4">
        <ion-label>Otras Rutas</ion-label>
        <ion-toggle checked={{myValue}} (ionChange)="myChange($event)"></ion-toggle>

      </ion-col>
    </ion-row>
  </ion-grid>
  
      
    </ion-toolbar>

<ion-content>

  <ion-list>
 

      <ion-item   *ngFor="let guia of   camiones | filtro:textoBuscar:'consecutivo'" (click)="actualizar(guia)" detail>
        <ion-chip  style="background: transparent!important; height: 80px;" >
          <ion-avatar  style="height: 80px;width: 80px;">
            <img style="height: 80px;width: 80px;"  [src]="image" />
          </ion-avatar>

            </ion-chip>

        <ion-label>
          <h2>Consecutivo : {{guia.idGuia}}  
          </h2>
          <p>Chofer : {{guia.camion.chofer}}</p>
          <p>Placa: {{guia.camion.idCamion}}</p>
          <p>Capacidad Total : {{guia.camion.capacidad}}</p>
          <p>Capacidad Restante : {{guia.camion.pesoRestante}}</p>
          <p>Numero de clientes : {{guia.camion.numClientes}}</p>

  
  
        </ion-label>
            
      </ion-item>
  

    

    
  </ion-list>

</ion-content>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>