

  <ion-toolbar  >
    <ion-grid >
      <ion-row>
        <ion-col size="7" style="display: flex; justify-content: space-between;align-items: center;">
          <ion-title class="ion-text-uppercase" style="text-align: left;">Lista de guias</ion-title>
          <ion-label *ngIf="switch"      style="margin-right: 1rem;">{{busquedaClientes ? 'Cliente' : 'Factura'}}</ion-label>
  <ion-toggle *ngIf="switch"  (ionChange)="toggleEvent($event)" mode="ios"  [(ngModel)]="busquedaClientes" ></ion-toggle>
        </ion-col>
        <ion-col size="5" style="display: flex; justify-content: center;align-items: right;">
      
          <ion-searchbar    mode="ios" placeholder="Buscar guia" inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
    
        
      </ion-toolbar>

<ion-content class="ion-padding">

  <ion-grid >
    <ion-row>
      <ion-col size="12"  *ngIf="!busquedaClientes">

        <ion-list lines="none">


          <ion-radio-group allow-empty-selection="true"  >
        
            <ion-item (click)="retornarModal(item)" *ngFor="let item of guiasRutas | filtro : textoBuscar:'idGuia'" >
         
        
              <ion-label>   
                <h2>{{ item.idGuia }}</h2>
                <p>
              
                  Clientes : {{item.numClientes}}
                  
                </p>
              </ion-label>
             <ion-radio [value]="item.idGuia"    slot="end" ></ion-radio>
                  
          
            </ion-item>
          </ion-radio-group>
        
        
          
        </ion-list>

      </ion-col>
      <ion-col size="12" *ngIf="busquedaClientes">
<ion-item  (click)="retornarModal(item.idGuia)"  *ngFor="let item of servicioClienteService.consultaGuias | filtro : textoBuscarClientes:'nombre'">
  <ion-label>
    <h2>Guia :    {{item.idGuia}}</h2>


    {{ item.nombre}} <ion-badge color="dark" mode="ios">{{item.idcliente}}</ion-badge>
  </ion-label>
</ion-item>

<ion-item *ngIf="servicioClienteService.consultaGuias.length == 0">
  <ion-label>No hay clientes disponibles</ion-label>
</ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="cerrarModal()" size="small" color="danger"> 
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
