/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.selectable {

  -webkit-user-select: text;
  
  -moz-user-select: text;
  
  -ms-user-select: text;
  
  user-select: text;
  
  }
html,body {
    width: 100%;
    width: 100%;
     margin: 0; 
     padding: 0; 
    
    }

    ion-modal.auto-size-modal {
      &.bottom {
          align-items: flex-end;
      }
      ion-label{
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 400;
      }
    
      --height: auto;
      --width: 90vw!important;
      color: #000!important;
      --color: #000!important;
      .ion-page {
          position: relative;
          display: block;
          contain: content;
    
          .inner-content {
              max-height: 80vh;
       overflow-y: scroll;
                 color: #000!important;
              --color: #000!important;
          }
      }
    } 
.scroll-modal {
    max-height:400px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  /* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}


  .scroll {
    max-height: 250px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .scroll-sm {
    max-height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .scroll-md {
    max-height:240px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }

    .scroll-menu {
    max-height: 500px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
.btn-sm{
  height: 35px;
  width: 35px;
}
.btn-sm ion-icon{
  font-size: 16px;

}
  .my-custom-class{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 85% !important;
      --height: 75%;
      position: absolute;
    }
  }
  .modal-md{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 85% !important;
      --height: 85%;
      position: absolute;
    }
  }
  .data-modal{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 100% !important;
      --height: 40%;
      position: absolute;
    }
  }
  .modal-detalle{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --position:absolute;
      --left:0;
      --width: 70% !important;
      --height: 60%;
      position: absolute;
    }
  }
  .right-modal{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      position: absolute;
      height: 100%;
      width:620px;
      top: 0;
      right: 0 !important;
    }
  }
  .center{
    display: flex;justify-content: center;align-items: center;
  }
  .center-btn{
   display: flex; justify-content: center;
  }
  .title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .title-2{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .new-background-color{
    --background: transparent;
  }
  ion-item {
    --ion-item-background: transparent;
  }
  .margin-rignt{
  margin-right: 100px;
  }
  .center{
    padding: 100px;
    display: grid;
    place-content: center;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
 

  
.medium-font{
  font-size: 40px;
}
  

  #circle{
    --border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.spin-element {

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.center-container{
  display: flex;
  justify-content: center;
}


html, body{
  width: 100%!important;
  height: 100%!important;
}


app-menu{
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 99999;
}


    ion-toolbar {
      --background-color: transparent;
      --ion-color-base: transparent !important;
    }


/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




ion-modal.custom-modal {
  &.bottom {
      align-items: flex-end;
  }

  --height: auto;

  .ion-page {
      position: relative;
      display: block;
      contain: content;

      .inner-content {
          max-height: 80vh;
          overflow: auto;
          padding: 10px;
      }
  }
}

.example-modal {
  align-items: center;
  justify-content: center; 
  &::part(content){
    min-width: 90%;
    min-height: 60%; 
  }
}


ion-modal.large-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 70%;
    height: 100%; 
  }

    
 
}

ion-modal.full-screen-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 100%;
    height: 100%; 
  }

    
 
}
ion-modal.extra-large-modal {

  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 
  &::part(content){
    width: 95%;
    height: 95%; 
  }

    
 
}
.color-modal{
  .modal-wrapper{
    --position:absolute;
    --left:0;
    --width: 75% !important;
    --height: 75%;
    position: absolute;
   
}

}

.table-title{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.table-text{
text-transform: capitalize;
font-size: 12px;
}

ion-checkbox.checkbox-disabled {
  opacity: 1 !important;
}



.marker {
display: block;
border: none;
cursor: pointer;
padding: 0;
margin-left: 3rem;
}
.marker-icon {
position: absolute;
top: -20px;
left: -3rem;
  }
* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.sidebar {
  position: absolute;
  margin: 20px 20px 30px 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  }
   
  .card {
  font-size: small;
  border-bottom: solid #d3d3d3 2px;
  margin-bottom: 6px;
  }
   
  .card-header {
  font-weight: bold;
  padding: 6px;
  }
   
  .no-route {
  background-color: #d3d3d3;
  color: #f00;
  }
   
  .obstacle-found {
  background-color: #d3d3d3;
  color: #fff;
  }
   
  .route-found {
  background-color: #33a532;
  color: #fff;
  }
   
  .card-details {
  padding: 3px 6px;
  }

  .my-custom-modal   {
      
    --backdrop-opacity: 0.8 !important;
    align-items: center;
    justify-content: center; 
    &::part(content){
      width:80%;
      height: 80%; 
    }
  }

  .alert-menu{
    --backdrop-opacity: 0.8 !important;
    --height:60%;
    --width: 60%;
    --max-width: 80%;
  }

  ion-modal.ui-modal {
    --border-radius: 0px!important;
     .modal-wrapper {
       --background: rgba(44, 39, 45, 0.2);
   }
     --backdrop-opacity: 0.8 !important;
     align-items: start;
     justify-content: center; 
     &::part(content){
       position: fixed;
       width: 50vw;
       height: 100vh; 
     }
 
   
   }

   

   .my-custom-alert .alert-wrapper {
    min-width: 450px !important;
  }

  .no-class {
    &::part(content){
      position: fixed;
      width: 350px;
      height: 350px; 
    }
   z-index: 9999;
}


ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}
button.alert-button.alert-button-dark {
  margin-bottom: 0.5rem;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}
.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
} 

ion-popover {
 // --background: rgba(0, 0, 0, 0.5);
  &::part(content) {
    --min-width: 220px;
    --max-width: 260px;
    --width: auto;
  }
}
