
<ion-header id="header" class="ion-no-border" color="primary" style="margin-top:50px">

  
  <ion-grid  >

    <ion-row >

  
  <ion-col size="12" size-md="6" style="margin: 0 auto;">

   <ion-card-header>
     <ion-card-title class="ion-text-center">Gestor de Modulos IRP</ion-card-title>
   </ion-card-header>
   <ion-searchbar mode="ios" placeholder="Buscar modulo" inputmode="text"  (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
  </ion-col>


    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding">


<ion-list lines="none">
  <ion-grid >
    <ion-row style="display: flex;justify-content: center;">

  
        <ng-template ngFor let-module [ngForOf]="modulosArray | filtro : textoBuscar:'titulo'" let-i="index" let-odd="odd" >




          <ion-col size="8">

            <ion-item  (click)="enrutador(module.ruta)">
              <ion-avatar slot="start">
                <img [src]="module.imagen">
              </ion-avatar>
              <ion-label>
                <h3>{{module.titulo}}</h3>
                <p>{{module.descripcion}}</p>
              </ion-label>

              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
        
                </ion-button>
              </ion-buttons>
              
            </ion-item>

 
          </ion-col>

         
        </ng-template>
      
             
      
      
      
 


    </ion-row>
  </ion-grid>
</ion-list>

</ion-content>
