<ion-header class="ion-no-border">
  <ion-toolbar color="dark">


    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title class="ion-text-left" style="font-size: 0.9rem;letter-spacing: 0.2rem; text-transform: uppercase;" color="light">Liquidacion Camiones <span *ngIf="guia">Guia {{guia.idGuia}}</span></ion-title>

 
<ion-buttons slot="end" >


  
  <ion-button   [routerLink]="['/inicio']" fill="solid" shape="round" color="dark" size="small">
    <ion-icon name="home-outline"></ion-icon>
      </ion-button>
  

      <ion-button  shape="round" fill="solid" color="dark" (click)="configuracionZonaRuta()">
        <ion-icon class="spin-element"  name="settings"></ion-icon>
      </ion-button>

  
  <ion-button    [routerLink]="['/log-in']" fill="solid" shape="round" color="danger" size="small">
    <ion-label slot="start">Salir</ion-label>
    <ion-icon name="close" slot="end"> </ion-icon>
  </ion-button>
</ion-buttons>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>


</ion-header>

<ion-toolbar *ngIf="datableService.dataTableArray.length > 0 ">
<ion-grid >
  <ion-row style="border-bottom:2px solid black; font-weight: bold;">

 


    <ion-col  size="12" >

        
            <ion-row class="header-row ">
        
        
        
              <ion-col size="2"  >
     <ion-label># Factura</ion-label>
             
              </ion-col>
              <ion-col   size="1" >
                <ion-label>Tipo D</ion-label>
                
                
              </ion-col>
              <ion-col   size="1">
                <ion-label >ID Cliente</ion-label>
          
          
              </ion-col>
              <ion-col   size="8"  style="display: flex ;align-items: center;"> <ion-label >Detalle Producto</ion-label>
                <ion-button style="position: absolute;
                right: 0;"  (click)="liquidarGuia()" fill="clear" shape="round" color="dark"  >
                  <ion-icon size="large" name="save-outline"></ion-icon>
                    </ion-button>
              </ion-col>
          

            </ion-row >
            
    </ion-col>
  </ion-row>
</ion-grid>
</ion-toolbar>
<ion-content>
       

  <ion-grid *ngIf="datableService.dataTableArray.length > 0 "  style="height: 100%;">
    <ng-template ngFor let-facturas [ngForOf]="datableService.dataTableArray"   let-i="index">


        
          <ng-template ngFor let-factura [ngForOf]="facturas"
          let-j="index"  >
          <ion-row    >
            <ion-col size="2"  >
              <ion-label>{{factura[0].factura.numFactura}}</ion-label>
              
                      
                       </ion-col>
          
                       <ion-col   size="1" >
              <ion-badge color="warning" mode="ios">{{factura[0].factura.tipoDocumento}}</ion-badge>
                         
                         
                       </ion-col>
                       <ion-col   size="1">
                         <ion-label >{{factura[0].factura.idCliente}}</ion-label>
                   
                   
                       </ion-col>
       

       
                         <ion-col   size="8" style="margin-bottom: 0.5rem;" > 
                               <ng-template ngFor let-fact [ngForOf]="factura">
                 <ion-row style="border-bottom: 1px solid black;" >
                   <ion-col size="12">
                     <p>{{fact.factura.descripcion}}</p>
                   </ion-col>
                   <ion-col size="3">
                     <ion-label>Articulo : {{fact.factura.articulo}}</ion-label>
               
                     
               
               
                   </ion-col>
                   <ion-col size="3">
                     <ion-label>Cantidad Entregar : <ion-badge color="dark" mode="ios">{{fact.factura.cantEntregar}}</ion-badge></ion-label>
               
                   </ion-col>
                   <ion-col size="3">
                     <ion-label>Cantidad Entregada :  <ion-badge color="dark" mode="ios">{{fact.factura.cantEntregar}}</ion-badge> </ion-label>
               
                   </ion-col>
                   <ion-col size="3">
                     <ion-label>Cantidad Pendiente : <ion-badge color="dark" mode="ios">{{fact.factura.cantEntregar - fact.factura.cantEntregada}}</ion-badge></ion-label>
               
                   </ion-col>
                  </ion-row>
                </ng-template>
                </ion-col>
       
       
        </ion-row >
        </ng-template>
        
        

      
   
            </ng-template>
  </ion-grid>


  <ion-grid *ngIf="datableService.dataTableArray.length == 0" style="display: flex;justify-content: center;align-items: center; height: 100%;">
    <ion-row style="display: flex;justify-content: center;align-items: center; height: 100%;">
      <ion-col size="5" style="margin: 0 auto;">
       
          <img  class="slide-image" src="../assets/png/return.svg" />
     <ion-card-content>
     <h2 class="ion-text-uppercase"> Gestiona la Liquidacion  de guias  presionando el boton de configuracion en la parte superior derecha</h2>
     </ion-card-content>
          
    
      </ion-col>
    </ion-row>
  </ion-grid>






  
  </ion-content>
