<ion-header class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-list style="background: transparent!important;margin:0;padding:0" lines="none">
      <ion-item>
        <ion-title class="ion-text-left" style="font-size: 0.9rem;letter-spacing: 0.2rem; text-transform: uppercase;" color="light">Planificación de entregas</ion-title>

        <ion-label color="light">
          <h2 class="ion-text-uppercase">Ruta</h2>
          <p>
            <ion-badge color="primary" mode="ios">{{rutaZonaData.ruta}}</ion-badge>
          </p>
        </ion-label>
        <ion-label color="light">
          <h2 class="ion-text-uppercase">Zona</h2>
          <p>
            <ion-badge color="primary" mode="ios">{{rutaZonaData.zona}}</ion-badge>
          </p>
        </ion-label>

<ion-buttons slot="end" >
  <ion-button   [routerLink]="['/inicio']" fill="solid" shape="round" color="dark" size="small">
    <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button  shape="round" fill="solid" color="dark" (click)="configuracionZonaRuta($event)">
        <ion-icon class="spin-element"  name="settings"></ion-icon>
      </ion-button>
      <ion-button *ngIf="rutaZonaData.rutaID"  shape="round" fill="solid" color="dark" (click)="calendar()">
        <ion-icon   name="calendar"></ion-icon>
      </ion-button>
  
  <ion-button    [routerLink]="['/log-in']" fill="solid" shape="round" color="danger" size="small">
    <ion-label slot="start">Salir</ion-label>
    <ion-icon name="close" slot="end"> </ion-icon>
  </ion-button>
</ion-buttons>
      </ion-item>
    
    </ion-list>
  </ion-toolbar>


</ion-header>







<ion-content>


  <ion-grid *ngIf="rutaFacturas.rutaFacturasArray.length == 0" style="display: flex;justify-content: center;align-items: center; height: 100%;">
    <ion-row style="display: flex;justify-content: center;align-items: center; height: 100%;">
      <ion-col size="5" style="margin: 0 auto;">
       
          <img  class="slide-image" src="../assets/icons/delivery-truck.svg" />
     <ion-card-content>
     <h2 class="ion-text-uppercase"> Gestiona la planificacion de entregas presionando el boton de configuracion en la parte superior derecha</h2>
     </ion-card-content>
          
    
      </ion-col>
    </ion-row>
  </ion-grid>


          

  <ion-grid  *ngIf="rutaFacturas.rutaFacturasArray.length > 0"> 
    <ion-row class="header-row">
      <ion-col size="12"   style="display: flex;justify-content:space-between;">
   

         <ion-label class="ion-text-uppercase">Lista de camiones disponibles</ion-label>

         <ion-buttons >
           
  <ion-button (click)="toggleBulkEdit()"  shape="round"  fill="outline"  color="dark">
    Editar conjunto
      </ion-button>
  
      <ion-button (click)="bulkDelete()"  shape="round"  fill="outline" color="danger" *ngIf="bulkEdit">
        Eliminar conjunto
          </ion-button>
    
         </ion-buttons>
         <ion-chip size="large" color="primary" mode="ios" outline="true"  color="dark" (click)="listaCamiones()">
       <ion-avatar >
         <img   [src]="image" />
       </ion-avatar>
       <ion-label>Camiones</ion-label>
         </ion-chip>
    

      
      </ion-col>
<ion-col size="12" >
  <ion-row>
camion
  </ion-row>
</ion-col>
<ion-col   size="4">Peso Total : {{rutaFacturas.pesoTotalBultosFactura}} KG </ion-col>
<ion-col   size="4">Total Bultos:   {{rutaFacturas.totalBultosFactura}} Bultos</ion-col>
<ion-col  size="4">Fecha de entrega  {{fechaEntrega}}</ion-col>
    </ion-row>

    <ion-row class="header-row">

<ion-col size="2" *ngIf="bulkEdit">
  Seleccionar
</ion-col>

      <ion-col size="4" tappable (click)="sortBy('FACTURA')">

      Total Clientes : {{rutaFacturas.rutaFacturasArray.length}} 
      <ion-icon  name="arrow-down" *ngIf="sortDirection == 1"></ion-icon>
      <ion-icon  name="arrow-up" *ngIf="sortDirection == 2"></ion-icon>
      </ion-col>
      <ion-col   >Frio



      </ion-col>
      <ion-col   size="1">Seco</ion-col>
      <ion-col    size="1">Bultos</ion-col>
      <ion-col   size="1">Peso</ion-col>
      <ion-col   size="2">Camion</ion-col>
      <ion-col  size="2" *ngIf="!bulkEdit">Action</ion-col>
    </ion-row>

   
      <ng-template ngFor let-factura [ngForOf]="rutaFacturas.paginationArray" let-i="index" let-odd="odd" >
        <ion-row class="data-row">
          <ion-col size="2" *ngIf="bulkEdit">
            <ion-checkbox [(ngModel)]="edit[i]"></ion-checkbox>
          </ion-col>
        <ion-col size="4"   >
     <ion-label>
       <h2>     {{factura.NOMBRE_CLIENTE}}</h2>
       <p>Factura : {{factura.FACTURA}}</p>
       <p>Consecutivo : <span color="danger">{{factura.CONSECUTIVO}}</span></p>
     </ion-label>
        
        </ion-col>
        <ion-col    size="1">
 
          <ion-checkbox   [(ngModel)]="factura.FRIO_SECO == 'F' ? verdadero : falso " ></ion-checkbox>
        </ion-col>
        <ion-col    size="1">
  
          <ion-checkbox  [(ngModel)]="factura.FRIO_SECO == 'S' ? verdadero : falso " ></ion-checkbox>
        </ion-col>
        <ion-col    size="1">
{{factura.RUBRO1}}
        </ion-col>
        <ion-col    size="1" >
          {{factura.TOTAL_PESO_NETO}}
        </ion-col>
        <ion-col    size="2" style="display: flex;" >
          <ion-chip  *ngIf="factura.CAMION"  size="large" color="primary" mode="ios" outline="true"  color="dark"  >
            <ion-avatar >
              <img   [src]="image" />
            </ion-avatar>
            <ion-label>   {{factura.CAMION}}</ion-label>
              </ion-chip>
  <ion-buttons *ngIf="factura.CAMION">
    <ion-button (click)="actualizaFacturaGuiasService.eliminarCamionesFacturaIndividual(factura.FACTURA)" fill="clear" color="danger">
      <ion-icon slot="icon-only" name="close"></ion-icon>

    </ion-button>
    <ion-button (click)="listaCamionesIndividual(factura.FACTURA)" fill="clear" color="primary">
      <ion-icon slot="icon-only" name="create"></ion-icon>

    </ion-button>
  </ion-buttons>
  <ion-buttons *ngIf="!factura.CAMION">
    <ion-button  (click)="listaCamionesIndividual(factura.FACTURA)" fill="clear" color="primary">
      <ion-icon slot="icon-only" name="add"></ion-icon>

    </ion-button>
  </ion-buttons>

        </ion-col>
        <ion-col  size="2" *ngIf="!bulkEdit">

          <ion-button size="small" (click)="removeRow(i)"  color="danger" fill="clear">
         <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
      </ng-template>

      <ion-row>
        <ion-col size="12" class="ion-text-center">

          Pagina {{page}}
        </ion-col>
      </ion-row>

      <ion-row>
    
        <ion-col size="4">
      <ion-item lines="nonecdcd cd"> 
        <ion-button (click)="prevPage()"  fill="clear" slot="start">
          <ion-icon slot="icon-only" name="play-back"></ion-icon>
          </ion-button>
      </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-select interface="popover" [(ngModel)]="resultsCount" (ionChange)="loadData()">
            <ion-select-option [value]="5">5</ion-select-option>
            <ion-select-option [value]="10">10</ion-select-option>
            <ion-select-option [value]="25">25</ion-select-option>
            <ion-select-option [value]="50">50</ion-select-option>
            <ion-select-option [value]="rutaFacturas.rutaFacturasArray.length">Todos</ion-select-option>
            
          </ion-select>
          
        </ion-col>
        <ion-col size="4">
      <ion-item lines="none">
        <ion-button (click)="nextPage()"  fill="clear" slot="end">
          <ion-icon slot="icon-only" name="play-forward"></ion-icon>
          </ion-button>
      </ion-item>
        </ion-col>
       
      </ion-row>

 
  </ion-grid>


  
  </ion-content>
  