<ion-header class="ion-no-border">
  <ion-toolbar  >
    <ion-button  slot="start"  (click)="cerrarModal()" expand="block" fill="clear" shape="round">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-uppercase" style="text-align: left;">Rutero Clientes
        <ion-badge color="primary" mode="ios">{{rutero.length}}</ion-badge>
        </ion-title>
   
    
        
 
    
      </ion-toolbar>
      <ion-searchbar    mode="ios" placeholder="Buscar cliente ' " inputmode="text" (ionChange)="onSearchChange($event)" debounce="250" ></ion-searchbar>
  
</ion-header>
<ion-content class="ion-padding">
       


  <ion-list *ngIf="rutero.length">
    <ion-item *ngFor="let rutero of rutero | filtro:textoBuscar:'idCliente'" style="padding: 0.5rem;" detail (click)="detalleClientes(rutero)">
      <ion-fab-button color="dark" size="small" style="margin-right: 1rem;">
  {{rutero.orden_Visita}}
      </ion-fab-button>
 
      <ion-label class="ion-text-wrap">
        <h2>
         <ion-badge color="primary" mode="ios" > {{ rutero.idCliente }}</ion-badge>
         <ion-badge style="margin-left:0.5rem" color="{{color(rutero.estado)}}" mode="ios">{{estadoSignificado(rutero.estado)}}</ion-badge>
          <span class="date" style="position:absolute;top:  -0.1rem;margin-left: 1rem;">
 
            <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
          </span>
        </h2>
        <h3><strong>{{ rutero.nombre }}</strong></h3>
        <p>
      {{rutero.direccion}}
        </p>
      </ion-label>
      </ion-item>
  </ion-list>




 






  
  </ion-content>
